BrokerWatchDogService/AMS.Broker/Service References/MosaicCallBackCommServiceReference/MosaicCallBackCommService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MosaicCallBackCommService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IMosaicCallBackCommService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://localhost:6532/SOAP/MosaicCallBackCommService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://localhost:6532/SOAP/MosaicCallBackCommService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMosaicCallBackCommService_DeviceStartRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:DeviceStartRequest" />
  </wsdl:message>
  <wsdl:message name="IMosaicCallBackCommService_DeviceStartRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeviceStartRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IMosaicCallBackCommService_CheckStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckStatus" />
  </wsdl:message>
  <wsdl:message name="IMosaicCallBackCommService_CheckStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckStatusResponse" />
  </wsdl:message>
  <wsdl:portType name="IMosaicCallBackCommService">
    <wsdl:operation name="DeviceStartRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IMosaicCallBackCommService/DeviceStartRequest" message="tns:IMosaicCallBackCommService_DeviceStartRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMosaicCallBackCommService/DeviceStartRequestResponse" message="tns:IMosaicCallBackCommService_DeviceStartRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IMosaicCallBackCommService/CheckStatus" message="tns:IMosaicCallBackCommService_CheckStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMosaicCallBackCommService/CheckStatusResponse" message="tns:IMosaicCallBackCommService_CheckStatus_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IMosaicCallBackCommService" type="tns:IMosaicCallBackCommService">
    <wsp:PolicyReference URI="#WSHttpBinding_IMosaicCallBackCommService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DeviceStartRequest">
      <soap12:operation soapAction="http://tempuri.org/IMosaicCallBackCommService/DeviceStartRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckStatus">
      <soap12:operation soapAction="http://tempuri.org/IMosaicCallBackCommService/CheckStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MosaicCallBackCommService">
    <wsdl:port name="WSHttpBinding_IMosaicCallBackCommService" binding="tns:WSHttpBinding_IMosaicCallBackCommService">
      <soap12:address location="https://localhost:6532/soap/MosaicCallBackCommService" />
      <wsa10:EndpointReference>
        <wsa10:Address>https://localhost:6532/soap/MosaicCallBackCommService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>