32bitServices/BrokerAutherizationService/AMS.Broker/Service References/ZoneGetOperationRef/ZoneGetOperation2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/AMS.Broker.Contracts.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AMS.Broker.Contracts.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://localhost:6530/SOAP/ZoneGetOperation?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="https://localhost:6530/SOAP/ZoneGetOperation?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfZone">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Zone" nillable="true" type="tns:Zone" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfZone" nillable="true" type="tns:ArrayOfZone" />
  <xs:complexType name="Zone">
    <xs:sequence>
      <xs:element minOccurs="0" name="AuthToken" type="ser:guid" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeviceCollection" nillable="true" type="tns:ArrayOfDeviceDto" />
      <xs:element minOccurs="0" name="Metadata" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZoneId" type="xs:long" />
      <xs:element minOccurs="0" name="ZoneLocationCollection" nillable="true" type="tns:ArrayOfZoneLocations" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Zone" nillable="true" type="tns:Zone" />
  <xs:complexType name="ArrayOfDeviceDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DeviceDto" nillable="true" type="tns:DeviceDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDeviceDto" nillable="true" type="tns:ArrayOfDeviceDto" />
  <xs:complexType name="DeviceDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActiveAlert" type="xs:boolean" />
      <xs:element minOccurs="0" name="Altitude" type="xs:double" />
      <xs:element minOccurs="0" name="AssociatedDeviceId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CameraAttachedDateTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CameraGUID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeviceId" type="xs:long" />
      <xs:element minOccurs="0" name="ExternalId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IPAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InterfaceId" type="xs:int" />
      <xs:element minOccurs="0" name="IsMovable" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Lat" type="xs:double" />
      <xs:element minOccurs="0" name="LocationDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Long" type="xs:double" />
      <xs:element minOccurs="0" name="Metadata" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NvrId" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Port" type="xs:int" />
      <xs:element minOccurs="0" name="SiteId" type="xs:int" />
      <xs:element minOccurs="0" name="Submember" nillable="true" type="tns:ArrayOfSubMemberDTO" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeviceDto" nillable="true" type="tns:DeviceDto" />
  <xs:complexType name="ArrayOfSubMemberDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SubMemberDTO" nillable="true" type="tns:SubMemberDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSubMemberDTO" nillable="true" type="tns:ArrayOfSubMemberDTO" />
  <xs:complexType name="SubMemberDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeviceID" type="xs:long" />
      <xs:element minOccurs="0" name="MemID" type="xs:int" />
      <xs:element minOccurs="0" name="Mobile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Photo" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SubMemberDTO" nillable="true" type="tns:SubMemberDTO" />
  <xs:complexType name="DeviceVAnalyticsScheduleDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="DevSchEnb" type="xs:boolean" />
      <xs:element minOccurs="0" name="DevSchID" type="xs:int" />
      <xs:element minOccurs="0" name="DeviceID" type="xs:long" />
      <xs:element minOccurs="0" name="nDay" type="xs:int" />
      <xs:element minOccurs="0" name="nHrs" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeviceVAnalyticsScheduleDTO" nillable="true" type="tns:DeviceVAnalyticsScheduleDTO" />
  <xs:complexType name="NvrCameraDto">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DeviceDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="AlarmDelay" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="AnalyticAlgorithmTypeId" type="xs:int" />
          <xs:element minOccurs="0" name="AnalyticsEventTemplateId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="AnalyticsServerIp" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CamPassword" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CamUser" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CameraIp" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CameraPort" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CameraType" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="CameraUrl" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ChanelNo" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="DirectionFlag" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="FPS" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Height" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="IsEdgeAnalytics" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="IsPtz" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="Lane1" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Lane2" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Lane3" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="LineEnd" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LineStart" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MaxBlobHeight" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="MaxBlobSize" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="MaxBlobWidth" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="MinBlobHeight" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="MinBlobSize" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="MinBlobWidth" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="NoOfLens" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="UpdateRate" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="Version" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Width" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="ZoneColumns" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="ZoneData" nillable="true" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="ZoneRows" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="NvrCameraDto" nillable="true" type="tns:NvrCameraDto" />
  <xs:complexType name="ArrayOfZoneLocations">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ZoneLocations" nillable="true" type="tns:ZoneLocations" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfZoneLocations" nillable="true" type="tns:ArrayOfZoneLocations" />
  <xs:complexType name="ZoneLocations">
    <xs:sequence>
      <xs:element minOccurs="0" name="Lat" type="xs:decimal" />
      <xs:element minOccurs="0" name="LocationId" type="xs:long" />
      <xs:element minOccurs="0" name="Long" type="xs:decimal" />
      <xs:element minOccurs="0" name="ZoneId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ZoneLocations" nillable="true" type="tns:ZoneLocations" />
  <xs:complexType name="ArrayOfSiteDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SiteDto" nillable="true" type="tns:SiteDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSiteDto" nillable="true" type="tns:ArrayOfSiteDto" />
  <xs:complexType name="SiteDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Address" nillable="true" type="tns:AddressDto" />
      <xs:element minOccurs="0" name="Alt" type="xs:double" />
      <xs:element minOccurs="0" name="BBoxPointCollection" nillable="true" type="tns:ArrayOfBBoxPointDto" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ChildSites" nillable="true" type="q1:ArrayOfint" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DevicesCollection" nillable="true" type="tns:ArrayOfDeviceDto" />
      <xs:element minOccurs="0" name="ExternalIdentifier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HasChildren" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsBingMap" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Lat" type="xs:double" />
      <xs:element minOccurs="0" name="Long" type="xs:double" />
      <xs:element minOccurs="0" name="Map" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="MapUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParentId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Pin" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="PinUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SiteId" type="xs:int" />
      <xs:element minOccurs="0" name="SiteName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SiteType" nillable="true" type="tns:SiteTypeDto" />
      <xs:element minOccurs="0" name="ZoomLevel" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SiteDto" nillable="true" type="tns:SiteDto" />
  <xs:complexType name="AddressDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="AddressId" type="xs:int" />
      <xs:element minOccurs="0" name="AddressNumber" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="AddressTypeCode" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="County" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CreatedOn" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DeletionStateCode" type="xs:int" />
      <xs:element minOccurs="0" name="Fax" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Latitude" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Line1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Line2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Line3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Longitude" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="ModifiedBy" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ModifiedOn" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PersonId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PostOfficeBox" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostalCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShippingMethodCode" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SiteId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="StateOrProvince" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telephone1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telephone2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telephone3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UPSZone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UTCOffset" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="VersionNumber" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddressDto" nillable="true" type="tns:AddressDto" />
  <xs:complexType name="PersonDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Address" nillable="true" type="tns:ArrayOfAddressDto" />
      <xs:element minOccurs="0" name="AgeRange" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="BirthDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Contacts" nillable="true" type="tns:ArrayOfContactDto" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CreatedOn" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EducationCode" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Ethnicity" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ExternalIdentifier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GenderCode" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="JobTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MiddleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModifiedBy" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ModifiedOn" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NickName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PersonId" type="xs:int" />
      <xs:element minOccurs="0" name="Portrait" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="PreferedContactTypes" nillable="true" type="tns:ArrayOfPersonContactTypeDto" />
      <xs:element minOccurs="0" name="PrimaryAccountAdministratorPassword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrimaryContact" nillable="true" type="tns:ContactDto" />
      <xs:element minOccurs="0" name="Suffix" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonDto" nillable="true" type="tns:PersonDto" />
  <xs:complexType name="ArrayOfAddressDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AddressDto" nillable="true" type="tns:AddressDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAddressDto" nillable="true" type="tns:ArrayOfAddressDto" />
  <xs:complexType name="ArrayOfContactDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ContactDto" nillable="true" type="tns:ContactDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContactDto" nillable="true" type="tns:ArrayOfContactDto" />
  <xs:complexType name="ContactDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContactId" type="xs:int" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="CreatedOn" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FaxNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LyncName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MobileNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModifiedBy" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="ModifiedOn" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PersonId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PreferedContatMethods" nillable="true" type="tns:ArrayOfPreferedContatMethodDto" />
      <xs:element minOccurs="0" name="TelephoneNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContactDto" nillable="true" type="tns:ContactDto" />
  <xs:complexType name="ArrayOfPreferedContatMethodDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PreferedContatMethodDto" nillable="true" type="tns:PreferedContatMethodDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPreferedContatMethodDto" nillable="true" type="tns:ArrayOfPreferedContatMethodDto" />
  <xs:complexType name="PreferedContatMethodDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContactId" type="xs:int" />
      <xs:element minOccurs="0" name="ContactMethodId" type="xs:int" />
      <xs:element minOccurs="0" name="PreferedContacMethodtId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PreferedContatMethodDto" nillable="true" type="tns:PreferedContatMethodDto" />
  <xs:complexType name="PersonContactTypeDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContactTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="PersonContactTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="PersonId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonContactTypeDto" nillable="true" type="tns:PersonContactTypeDto" />
  <xs:complexType name="ArrayOfPersonContactTypeDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PersonContactTypeDto" nillable="true" type="tns:PersonContactTypeDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPersonContactTypeDto" nillable="true" type="tns:ArrayOfPersonContactTypeDto" />
  <xs:complexType name="ArrayOfBBoxPointDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BBoxPointDto" nillable="true" type="tns:BBoxPointDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBBoxPointDto" nillable="true" type="tns:ArrayOfBBoxPointDto" />
  <xs:complexType name="BBoxPointDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Alt" type="xs:double" />
      <xs:element minOccurs="0" name="BBoxPointId" type="xs:int" />
      <xs:element minOccurs="0" name="Lat" type="xs:double" />
      <xs:element minOccurs="0" name="Long" type="xs:double" />
      <xs:element minOccurs="0" name="Site" nillable="true" type="tns:SiteDto" />
      <xs:element minOccurs="0" name="SiteId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BBoxPointDto" nillable="true" type="tns:BBoxPointDto" />
  <xs:complexType name="SiteTypeDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HierarchyLevel" type="xs:int" />
      <xs:element minOccurs="0" name="Icon" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SiteTypeId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SiteTypeDto" nillable="true" type="tns:SiteTypeDto" />
</xs:schema>