32bitServices/BrokerAutherizationService/AMS.Broker/Service References/ControllerGetOperationRef/ControllerGetOperation2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/AMS.Broker.Contracts.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AMS.Broker.Contracts.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://localhost:6530/SOAP/ControllerGetOperation?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="https://localhost:6530/SOAP/ControllerGetOperation?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfDeviceDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DeviceDto" nillable="true" type="tns:DeviceDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDeviceDto" nillable="true" type="tns:ArrayOfDeviceDto" />
  <xs:complexType name="DeviceDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActiveAlert" type="xs:boolean" />
      <xs:element minOccurs="0" name="Altitude" type="xs:double" />
      <xs:element minOccurs="0" name="AssociatedDeviceId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CameraAttachedDateTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CameraGUID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeviceId" type="xs:long" />
      <xs:element minOccurs="0" name="ExternalId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IPAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InterfaceId" type="xs:int" />
      <xs:element minOccurs="0" name="IsMovable" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Lat" type="xs:double" />
      <xs:element minOccurs="0" name="LocationDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Long" type="xs:double" />
      <xs:element minOccurs="0" name="Metadata" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NvrId" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Port" type="xs:int" />
      <xs:element minOccurs="0" name="SiteId" type="xs:int" />
      <xs:element minOccurs="0" name="Submember" nillable="true" type="tns:ArrayOfSubMemberDTO" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeviceDto" nillable="true" type="tns:DeviceDto" />
  <xs:complexType name="ArrayOfSubMemberDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SubMemberDTO" nillable="true" type="tns:SubMemberDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSubMemberDTO" nillable="true" type="tns:ArrayOfSubMemberDTO" />
  <xs:complexType name="SubMemberDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeviceID" type="xs:long" />
      <xs:element minOccurs="0" name="MemID" type="xs:int" />
      <xs:element minOccurs="0" name="Mobile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Photo" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SubMemberDTO" nillable="true" type="tns:SubMemberDTO" />
  <xs:complexType name="DeviceVAnalyticsScheduleDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="DevSchEnb" type="xs:boolean" />
      <xs:element minOccurs="0" name="DevSchID" type="xs:int" />
      <xs:element minOccurs="0" name="DeviceID" type="xs:long" />
      <xs:element minOccurs="0" name="nDay" type="xs:int" />
      <xs:element minOccurs="0" name="nHrs" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeviceVAnalyticsScheduleDTO" nillable="true" type="tns:DeviceVAnalyticsScheduleDTO" />
  <xs:complexType name="NvrCameraDto">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DeviceDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="AlarmDelay" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="AnalyticAlgorithmTypeId" type="xs:int" />
          <xs:element minOccurs="0" name="AnalyticsEventTemplateId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="AnalyticsServerIp" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CamPassword" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CamUser" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CameraIp" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CameraPort" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CameraType" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="CameraUrl" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ChanelNo" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="DirectionFlag" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="FPS" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Height" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="IsEdgeAnalytics" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="IsPtz" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="Lane1" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Lane2" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Lane3" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="LineEnd" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LineStart" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MaxBlobHeight" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="MaxBlobSize" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="MaxBlobWidth" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="MinBlobHeight" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="MinBlobSize" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="MinBlobWidth" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="NoOfLens" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="UpdateRate" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="Version" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Width" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="ZoneColumns" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="ZoneData" nillable="true" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="ZoneRows" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="NvrCameraDto" nillable="true" type="tns:NvrCameraDto" />
  <xs:complexType name="ArrayOfAccountDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AccountDto" nillable="true" type="tns:AccountDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAccountDto" nillable="true" type="tns:ArrayOfAccountDto" />
  <xs:complexType name="AccountDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountAlarmPanel" nillable="true" type="tns:ArrayOfAccountAlarmPanelDto" />
      <xs:element minOccurs="0" name="AccountAnalyticsAlgorithmType" nillable="true" type="tns:ArrayOfAccountAnalyticsAlgorithmTypeDto" />
      <xs:element minOccurs="0" name="AccountBilling" nillable="true" type="tns:AccountBillingDto" />
      <xs:element minOccurs="0" name="AccountBillingId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="AccountId" type="xs:int" />
      <xs:element minOccurs="0" name="AccountInvoice" nillable="true" type="tns:ArrayOfAccountInvoiceDto" />
      <xs:element minOccurs="0" name="AccountLogo" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="AccountNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccountNvrAlertType" nillable="true" type="tns:ArrayOfAccountNvrAlertTypeDto" />
      <xs:element minOccurs="0" name="AccountTypeId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Address" nillable="true" type="tns:ArrayOfAddressDto" />
      <xs:element minOccurs="0" name="BillingSameAsAccountAddress" type="xs:boolean" />
      <xs:element minOccurs="0" name="ChildAccounts" nillable="true" type="tns:ArrayOfAccountDto" />
      <xs:element minOccurs="0" name="Contact" nillable="true" type="tns:ContactDto" />
      <xs:element minOccurs="0" name="Contacts" nillable="true" type="tns:ArrayOfContactDto" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CreatedOn" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DeletionStateCode" type="xs:int" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Devices" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModifiedBy" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ModifiedOn" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParentAccountId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PrimaryAccountAdministrator" nillable="true" type="tns:PersonDto" />
      <xs:element minOccurs="0" name="PrimaryContactId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ServicePackageId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Sites" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TimeZoneId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="UserCount" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="WebSiteURL" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccountDto" nillable="true" type="tns:AccountDto" />
  <xs:complexType name="ArrayOfAccountAlarmPanelDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AccountAlarmPanelDto" nillable="true" type="tns:AccountAlarmPanelDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAccountAlarmPanelDto" nillable="true" type="tns:ArrayOfAccountAlarmPanelDto" />
  <xs:complexType name="AccountAlarmPanelDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountAlarmPanelId" type="xs:int" />
      <xs:element minOccurs="0" name="AccountId" type="xs:int" />
      <xs:element minOccurs="0" name="EventGroupId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccountAlarmPanelDto" nillable="true" type="tns:AccountAlarmPanelDto" />
  <xs:complexType name="ArrayOfAccountAnalyticsAlgorithmTypeDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AccountAnalyticsAlgorithmTypeDto" nillable="true" type="tns:AccountAnalyticsAlgorithmTypeDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAccountAnalyticsAlgorithmTypeDto" nillable="true" type="tns:ArrayOfAccountAnalyticsAlgorithmTypeDto" />
  <xs:complexType name="AccountAnalyticsAlgorithmTypeDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountAnalyticsAlgorithmTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="AccountId" type="xs:int" />
      <xs:element minOccurs="0" name="AnalyticsAlgorithTypeId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccountAnalyticsAlgorithmTypeDto" nillable="true" type="tns:AccountAnalyticsAlgorithmTypeDto" />
  <xs:complexType name="AccountBillingDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountBillingId" type="xs:int" />
      <xs:element minOccurs="0" name="Address" nillable="true" type="tns:AddressDto" />
      <xs:element minOccurs="0" name="AddressId" type="xs:int" />
      <xs:element minOccurs="0" name="PaymentMethod" nillable="true" type="tns:PaymentMethodDto" />
      <xs:element minOccurs="0" name="PaymentMethodId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccountBillingDto" nillable="true" type="tns:AccountBillingDto" />
  <xs:complexType name="AddressDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="AddressId" type="xs:int" />
      <xs:element minOccurs="0" name="AddressNumber" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="AddressTypeCode" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="County" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CreatedOn" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DeletionStateCode" type="xs:int" />
      <xs:element minOccurs="0" name="Fax" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Latitude" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Line1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Line2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Line3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Longitude" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="ModifiedBy" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ModifiedOn" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PersonId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PostOfficeBox" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostalCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShippingMethodCode" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SiteId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="StateOrProvince" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telephone1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telephone2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telephone3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UPSZone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UTCOffset" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="VersionNumber" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddressDto" nillable="true" type="tns:AddressDto" />
  <xs:complexType name="PersonDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Address" nillable="true" type="tns:ArrayOfAddressDto" />
      <xs:element minOccurs="0" name="AgeRange" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="BirthDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Contacts" nillable="true" type="tns:ArrayOfContactDto" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CreatedOn" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EducationCode" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Ethnicity" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ExternalIdentifier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GenderCode" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="JobTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MiddleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModifiedBy" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ModifiedOn" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NickName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PersonId" type="xs:int" />
      <xs:element minOccurs="0" name="Portrait" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="PreferedContactTypes" nillable="true" type="tns:ArrayOfPersonContactTypeDto" />
      <xs:element minOccurs="0" name="PrimaryAccountAdministratorPassword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrimaryContact" nillable="true" type="tns:ContactDto" />
      <xs:element minOccurs="0" name="Suffix" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonDto" nillable="true" type="tns:PersonDto" />
  <xs:complexType name="ArrayOfAddressDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AddressDto" nillable="true" type="tns:AddressDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAddressDto" nillable="true" type="tns:ArrayOfAddressDto" />
  <xs:complexType name="ArrayOfContactDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ContactDto" nillable="true" type="tns:ContactDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContactDto" nillable="true" type="tns:ArrayOfContactDto" />
  <xs:complexType name="ContactDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContactId" type="xs:int" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="CreatedOn" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FaxNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LyncName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MobileNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModifiedBy" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="ModifiedOn" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PersonId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PreferedContatMethods" nillable="true" type="tns:ArrayOfPreferedContatMethodDto" />
      <xs:element minOccurs="0" name="TelephoneNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContactDto" nillable="true" type="tns:ContactDto" />
  <xs:complexType name="ArrayOfPreferedContatMethodDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PreferedContatMethodDto" nillable="true" type="tns:PreferedContatMethodDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPreferedContatMethodDto" nillable="true" type="tns:ArrayOfPreferedContatMethodDto" />
  <xs:complexType name="PreferedContatMethodDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContactId" type="xs:int" />
      <xs:element minOccurs="0" name="ContactMethodId" type="xs:int" />
      <xs:element minOccurs="0" name="PreferedContacMethodtId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PreferedContatMethodDto" nillable="true" type="tns:PreferedContatMethodDto" />
  <xs:complexType name="PersonContactTypeDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContactTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="PersonContactTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="PersonId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonContactTypeDto" nillable="true" type="tns:PersonContactTypeDto" />
  <xs:complexType name="ArrayOfPersonContactTypeDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PersonContactTypeDto" nillable="true" type="tns:PersonContactTypeDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPersonContactTypeDto" nillable="true" type="tns:ArrayOfPersonContactTypeDto" />
  <xs:complexType name="PaymentMethodDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaymentMethodId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PaymentMethodDto" nillable="true" type="tns:PaymentMethodDto" />
  <xs:complexType name="ArrayOfAccountInvoiceDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AccountInvoiceDto" nillable="true" type="tns:AccountInvoiceDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAccountInvoiceDto" nillable="true" type="tns:ArrayOfAccountInvoiceDto" />
  <xs:complexType name="AccountInvoiceDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Account" nillable="true" type="tns:AccountDto" />
      <xs:element minOccurs="0" name="AccountId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="BillTo_City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillTo_Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillTo_Fax" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillTo_Line1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillTo_Line2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillTo_Line3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillTo_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillTo_PostalCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillTo_StateOrProvince" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillTo_Telephone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CreatedOn" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DeletionStateCode" type="xs:int" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DiscountAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="DiscountPercentage" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="DueDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FreightAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="InvoiceId" type="xs:int" />
      <xs:element minOccurs="0" name="InvoiceNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModifiedBy" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ModifiedOn" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PriorityCode" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="StateCode" type="xs:int" />
      <xs:element minOccurs="0" name="TimeZoneId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TotalAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalAmountLessFreight" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalDiscountAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalLineItemAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalLineItemDiscountAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalTax" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccountInvoiceDto" nillable="true" type="tns:AccountInvoiceDto" />
  <xs:complexType name="DeliveryMethodDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Account" nillable="true" type="tns:ArrayOfAccountDto" />
      <xs:element minOccurs="0" name="AccountType" nillable="true" type="tns:ArrayOfAccountTypeDto" />
      <xs:element minOccurs="0" name="DeliveryMethodId" type="xs:int" />
      <xs:element minOccurs="0" name="DeliveryMethodName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Frequency" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeliveryMethodDto" nillable="true" type="tns:DeliveryMethodDto" />
  <xs:complexType name="ArrayOfAccountTypeDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AccountTypeDto" nillable="true" type="tns:AccountTypeDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAccountTypeDto" nillable="true" type="tns:ArrayOfAccountTypeDto" />
  <xs:complexType name="AccountTypeDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountTypeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccoutTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="DailyOpenCloseReports" type="xs:boolean" />
      <xs:element minOccurs="0" name="OpenCloseMonitoring" type="xs:boolean" />
      <xs:element minOccurs="0" name="ReportDeliveryMethodId" type="xs:int" />
      <xs:element minOccurs="0" name="SMS" type="xs:boolean" />
      <xs:element minOccurs="0" name="SiteEventReport" type="xs:boolean" />
      <xs:element minOccurs="0" name="WeeklyOpenCloseReporting" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccountTypeDto" nillable="true" type="tns:AccountTypeDto" />
  <xs:complexType name="ServicePackageDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PackagePrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="ServicePackageId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServicePackageDto" nillable="true" type="tns:ServicePackageDto" />
  <xs:complexType name="AccountNvrAlertTypeDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountId" type="xs:int" />
      <xs:element minOccurs="0" name="AccountNvrAlertTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="NvrAlertTypeId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccountNvrAlertTypeDto" nillable="true" type="tns:AccountNvrAlertTypeDto" />
  <xs:complexType name="ArrayOfAccountNvrAlertTypeDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AccountNvrAlertTypeDto" nillable="true" type="tns:AccountNvrAlertTypeDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAccountNvrAlertTypeDto" nillable="true" type="tns:ArrayOfAccountNvrAlertTypeDto" />
  <xs:complexType name="ArrayOftblDisasterManagementDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tblDisasterManagementDTO" nillable="true" type="tns:tblDisasterManagementDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftblDisasterManagementDTO" nillable="true" type="tns:ArrayOftblDisasterManagementDTO" />
  <xs:complexType name="tblDisasterManagementDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AlertFlag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AvailableBeds" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EntityFlag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FacilityType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Latitude" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Longitude" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MobileNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Organization" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostalCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Role" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShelterType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalBeds" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VehicleNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VehicleType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tblDisasterManagementDTO" nillable="true" type="tns:tblDisasterManagementDTO" />
  <xs:complexType name="ArrayOftblSmartCityStreetLightDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tblSmartCityStreetLightDTO" nillable="true" type="tns:tblSmartCityStreetLightDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftblSmartCityStreetLightDTO" nillable="true" type="tns:ArrayOftblSmartCityStreetLightDTO" />
  <xs:complexType name="tblSmartCityStreetLightDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Lat" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Long_" nillable="true" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tblSmartCityStreetLightDTO" nillable="true" type="tns:tblSmartCityStreetLightDTO" />
  <xs:complexType name="ArrayOftblSmartCityStreetElecDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tblSmartCityStreetElecDTO" nillable="true" type="tns:tblSmartCityStreetElecDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftblSmartCityStreetElecDTO" nillable="true" type="tns:ArrayOftblSmartCityStreetElecDTO" />
  <xs:complexType name="tblSmartCityStreetElecDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ElecAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ElecName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Lat" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Long_" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Telephone" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tblSmartCityStreetElecDTO" nillable="true" type="tns:tblSmartCityStreetElecDTO" />
  <xs:complexType name="ArrayOfResourceData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ResourceData" nillable="true" type="tns:ResourceData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfResourceData" nillable="true" type="tns:ArrayOfResourceData" />
  <xs:complexType name="ResourceData">
    <xs:sequence>
      <xs:element minOccurs="0" name="AuthToken" type="ser:guid" />
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="EvidenceType" type="xs:int" />
      <xs:element minOccurs="0" name="ResourceId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResourceData" nillable="true" type="tns:ResourceData" />
  <xs:complexType name="ArrayOfGroup">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Group" nillable="true" type="tns:Group" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGroup" nillable="true" type="tns:ArrayOfGroup" />
  <xs:complexType name="Group">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DevicesCollection" nillable="true" type="tns:ArrayOfDeviceDto" />
      <xs:element minOccurs="0" name="Metadata" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZoneId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Group" nillable="true" type="tns:Group" />
  <xs:complexType name="ArrayOfUserDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserDto" nillable="true" type="tns:UserDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserDto" nillable="true" type="tns:ArrayOfUserDto" />
  <xs:complexType name="UserDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="MembershipUserId" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Person" nillable="true" type="tns:PersonDto" />
      <xs:element minOccurs="0" name="PersonId" type="xs:int" />
      <xs:element minOccurs="0" name="StatusCode" type="xs:int" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
      <xs:element minOccurs="0" name="UserSid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserType" nillable="true" type="tns:UserTypeDto" />
      <xs:element minOccurs="0" name="UserTypeId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserDto" nillable="true" type="tns:UserDto" />
  <xs:complexType name="UserTypeDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="UserTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="UserTypeName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserTypeDto" nillable="true" type="tns:UserTypeDto" />
  <xs:complexType name="ArrayOfNvrDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NvrDto" nillable="true" type="tns:NvrDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNvrDto" nillable="true" type="tns:ArrayOfNvrDto" />
  <xs:complexType name="NvrDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="CameraStream" type="xs:int" />
      <xs:element minOccurs="0" name="Cameras" nillable="true" type="tns:ArrayOfDeviceDto" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DvrNvrTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="IPAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InterfaceId" type="xs:int" />
      <xs:element minOccurs="0" name="Lane1" type="xs:int" />
      <xs:element minOccurs="0" name="Lane2" type="xs:int" />
      <xs:element minOccurs="0" name="Lane3" type="xs:int" />
      <xs:element minOccurs="0" name="NvrId" type="xs:long" />
      <xs:element minOccurs="0" name="NvrUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Port" type="xs:int" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NvrDto" nillable="true" type="tns:NvrDto" />
  <xs:complexType name="ArrayOfValuesLookUp">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ValuesLookUp" nillable="true" type="tns:ValuesLookUp" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfValuesLookUp" nillable="true" type="tns:ArrayOfValuesLookUp" />
  <xs:complexType name="ValuesLookUp">
    <xs:sequence>
      <xs:element minOccurs="0" name="ItemId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValuesLookUp" nillable="true" type="tns:ValuesLookUp" />
  <xs:complexType name="ArrayOfDeviceVAnalyticsScheduleDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DeviceVAnalyticsScheduleDTO" nillable="true" type="tns:DeviceVAnalyticsScheduleDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDeviceVAnalyticsScheduleDTO" nillable="true" type="tns:ArrayOfDeviceVAnalyticsScheduleDTO" />
  <xs:complexType name="ArrayOfEvent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Event" nillable="true" type="tns:Event" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEvent" nillable="true" type="tns:ArrayOfEvent" />
  <xs:complexType name="Event">
    <xs:sequence>
      <xs:element minOccurs="0" name="Adapter" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeStamp" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Value" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Event" nillable="true" type="tns:Event" />
  <xs:complexType name="ArrayOftblNokDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tblNokDTO" nillable="true" type="tns:tblNokDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftblNokDTO" nillable="true" type="tns:ArrayOftblNokDTO" />
  <xs:complexType name="tblNokDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="IsAlert" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsLoop" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tblNokDTO" nillable="true" type="tns:tblNokDTO" />
  <xs:complexType name="ArrayOfIncidentReportWrapper">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="IncidentReportWrapper" nillable="true" type="tns:IncidentReportWrapper" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIncidentReportWrapper" nillable="true" type="tns:ArrayOfIncidentReportWrapper" />
  <xs:complexType name="IncidentReportWrapper">
    <xs:sequence>
      <xs:element minOccurs="0" name="AlertExistsInAnotherReport" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Report" nillable="true" type="tns:IncidentReport" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IncidentReportWrapper" nillable="true" type="tns:IncidentReportWrapper" />
  <xs:complexType name="IncidentReport">
    <xs:sequence>
      <xs:element minOccurs="0" name="Alerts" nillable="true" type="tns:ArrayOfAlert" />
      <xs:element minOccurs="0" name="AttachedIncidentRpt" nillable="true" type="tns:ArrayOfAttachedIncidentReport" />
      <xs:element minOccurs="0" name="Cameras" nillable="true" type="tns:ArrayOfDeviceDto" />
      <xs:element minOccurs="0" name="Comments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreationDateAsString" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="IncidentReports" nillable="true" type="q1:ArrayOflong" />
      <xs:element minOccurs="0" name="Owner" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Resources" nillable="true" type="tns:ArrayOfIncidentReportResource" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IncidentReport" nillable="true" type="tns:IncidentReport" />
  <xs:complexType name="ArrayOfAlert">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Alert" nillable="true" type="tns:Alert" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAlert" nillable="true" type="tns:ArrayOfAlert" />
  <xs:complexType name="Alert">
    <xs:sequence>
      <xs:element minOccurs="0" name="Addresses" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AlertAttachedDateTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AlertId" type="xs:long" />
      <xs:element minOccurs="0" name="AlertOwner" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AlertZone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AuthToken" type="ser:guid" />
      <xs:element minOccurs="0" name="BioAlerts" nillable="true" type="tns:ArrayOfBioAlertsDTO" />
      <xs:element minOccurs="0" name="Certainty" type="tns:Certainty" />
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeviceDto" nillable="true" type="tns:DeviceDto" />
      <xs:element minOccurs="0" name="DeviceId" type="xs:long" />
      <xs:element minOccurs="0" name="HasIncidentReport" type="xs:boolean" />
      <xs:element minOccurs="0" name="HasIncidentReportRef" type="xs:boolean" />
      <xs:element minOccurs="0" name="Identifier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Incidents" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InfoCollection" nillable="true" type="tns:ArrayOfInfo" />
      <xs:element minOccurs="0" name="MemLocation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MemberName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MembershipUserId" type="ser:guid" />
      <xs:element minOccurs="0" name="MessageTypeId" type="tns:MessageType" />
      <xs:element minOccurs="0" name="Note" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReceivedDateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="References" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Restriction" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ScopeId" type="tns:Scope" />
      <xs:element minOccurs="0" name="Sender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sent" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SentAsString" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Severity" type="tns:Severity" />
      <xs:element minOccurs="0" name="Source" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatusId" type="tns:Status" />
      <xs:element minOccurs="0" name="Time" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VideoAanalyticsEvent" nillable="true" type="tns:ArrayOfVideoAanalyticsEventDTO" />
      <xs:element minOccurs="0" name="WorkflowStatus" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Alert" nillable="true" type="tns:Alert" />
  <xs:complexType name="ArrayOfBioAlertsDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BioAlertsDTO" nillable="true" type="tns:BioAlertsDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBioAlertsDTO" nillable="true" type="tns:ArrayOfBioAlertsDTO" />
  <xs:complexType name="BioAlertsDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="BioAlertID" type="xs:int" />
      <xs:element minOccurs="0" name="CameraId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FacePosition" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FaceSize" type="xs:int" />
      <xs:element minOccurs="0" name="FrameImage" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="FrameIndex" type="xs:int" />
      <xs:element minOccurs="0" name="Quality" type="xs:int" />
      <xs:element minOccurs="0" name="Score" type="xs:int" />
      <xs:element minOccurs="0" name="SubjectCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubjectFaceImage" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="SubjectId" type="xs:int" />
      <xs:element minOccurs="0" name="SubjectLastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubjectModelImage" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="SubjectName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeStamp" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="alertID" nillable="true" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BioAlertsDTO" nillable="true" type="tns:BioAlertsDTO" />
  <xs:simpleType name="Certainty">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Likely" />
      <xs:enumeration value="Observed" />
      <xs:enumeration value="Possible" />
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="Unlikely" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Certainty" nillable="true" type="tns:Certainty" />
  <xs:complexType name="ArrayOfInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Info" nillable="true" type="tns:Info" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInfo" nillable="true" type="tns:ArrayOfInfo" />
  <xs:complexType name="Info">
    <xs:sequence>
      <xs:element minOccurs="0" name="AlertId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AreasCollection" nillable="true" type="tns:ArrayOfArea" />
      <xs:element minOccurs="0" name="Audience" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CategoriesCollection" nillable="true" type="tns:ArrayOfCategory" />
      <xs:element minOccurs="0" name="CertaintyId" type="tns:Certainty" />
      <xs:element minOccurs="0" name="Contact" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Effective" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Event" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Expires" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Headline" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InfoId" type="xs:long" />
      <xs:element minOccurs="0" name="Instruction" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Language" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OnSet" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParametersCollection" nillable="true" type="tns:ArrayOfParameter" />
      <xs:element minOccurs="0" name="ResourcesCollection" nillable="true" type="tns:ArrayOfResource" />
      <xs:element minOccurs="0" name="ResponseTypesCollection" nillable="true" type="tns:ArrayOfResponseType" />
      <xs:element minOccurs="0" name="SenderName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SeverityId" type="tns:Severity" />
      <xs:element minOccurs="0" name="UrgencyId" type="tns:Urgency" />
      <xs:element minOccurs="0" name="Web" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Info" nillable="true" type="tns:Info" />
  <xs:complexType name="ArrayOfArea">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Area" nillable="true" type="tns:Area" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArea" nillable="true" type="tns:ArrayOfArea" />
  <xs:complexType name="Area">
    <xs:sequence>
      <xs:element minOccurs="0" name="Altitude" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="AreaId" type="xs:long" />
      <xs:element minOccurs="0" name="Celing" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InfoId" type="xs:long" />
      <xs:element minOccurs="0" name="Latitude" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Longitude" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="SiteId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Area" nillable="true" type="tns:Area" />
  <xs:complexType name="ArrayOfCategory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Category" type="tns:Category" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCategory" nillable="true" type="tns:ArrayOfCategory" />
  <xs:simpleType name="Category">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CBRNE" />
      <xs:enumeration value="Env" />
      <xs:enumeration value="Fire" />
      <xs:enumeration value="Geo" />
      <xs:enumeration value="Health" />
      <xs:enumeration value="Infra" />
      <xs:enumeration value="Met" />
      <xs:enumeration value="Other" />
      <xs:enumeration value="Rescue" />
      <xs:enumeration value="Safety" />
      <xs:enumeration value="Security" />
      <xs:enumeration value="Transport" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Category" nillable="true" type="tns:Category" />
  <xs:complexType name="ArrayOfParameter">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Parameter" nillable="true" type="tns:Parameter" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfParameter" nillable="true" type="tns:ArrayOfParameter" />
  <xs:complexType name="Parameter">
    <xs:sequence>
      <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Parameter" nillable="true" type="tns:Parameter" />
  <xs:complexType name="ArrayOfResource">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Resource" nillable="true" type="tns:Resource" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfResource" nillable="true" type="tns:ArrayOfResource" />
  <xs:complexType name="Resource">
    <xs:sequence>
      <xs:element minOccurs="0" name="DerefUri" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Digest" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InfoId" type="xs:int" />
      <xs:element minOccurs="0" name="MimeType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResourceId" type="xs:int" />
      <xs:element minOccurs="0" name="Size" type="xs:int" />
      <xs:element minOccurs="0" name="Uri" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Resource" nillable="true" type="tns:Resource" />
  <xs:complexType name="ArrayOfResponseType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ResponseType" type="tns:ResponseType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfResponseType" nillable="true" type="tns:ArrayOfResponseType" />
  <xs:simpleType name="ResponseType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Assess" />
      <xs:enumeration value="Evacuate" />
      <xs:enumeration value="Execute" />
      <xs:enumeration value="Monitor" />
      <xs:enumeration value="None" />
      <xs:enumeration value="Prepare" />
      <xs:enumeration value="Shelter" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ResponseType" nillable="true" type="tns:ResponseType" />
  <xs:simpleType name="Severity">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Extreme" />
      <xs:enumeration value="Minor" />
      <xs:enumeration value="Moderate" />
      <xs:enumeration value="Severe" />
      <xs:enumeration value="Unknown" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Severity" nillable="true" type="tns:Severity" />
  <xs:simpleType name="Urgency">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Expected" />
      <xs:enumeration value="Future" />
      <xs:enumeration value="Immediate" />
      <xs:enumeration value="Past" />
      <xs:enumeration value="Unknown" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Urgency" nillable="true" type="tns:Urgency" />
  <xs:simpleType name="MessageType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Ack" />
      <xs:enumeration value="Alert" />
      <xs:enumeration value="Cancel" />
      <xs:enumeration value="Error" />
      <xs:enumeration value="Update" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MessageType" nillable="true" type="tns:MessageType" />
  <xs:simpleType name="Scope">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Private" />
      <xs:enumeration value="Public" />
      <xs:enumeration value="Restricted" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Scope" nillable="true" type="tns:Scope" />
  <xs:simpleType name="Status">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Actual" />
      <xs:enumeration value="Exercise" />
      <xs:enumeration value="System" />
      <xs:enumeration value="Test" />
      <xs:enumeration value="Draft" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Status" nillable="true" type="tns:Status" />
  <xs:complexType name="ArrayOfVideoAanalyticsEventDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VideoAanalyticsEventDTO" nillable="true" type="tns:VideoAanalyticsEventDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVideoAanalyticsEventDTO" nillable="true" type="tns:ArrayOfVideoAanalyticsEventDTO" />
  <xs:complexType name="VideoAanalyticsEventDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="AlarmLevel" type="xs:int" />
      <xs:element minOccurs="0" name="AlertId" type="xs:long" />
      <xs:element minOccurs="0" name="AlgorithmName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CameraGuid" type="ser:guid" />
      <xs:element minOccurs="0" name="CenterX" type="xs:int" />
      <xs:element minOccurs="0" name="CenterY" type="xs:int" />
      <xs:element minOccurs="0" name="DirectionFlg" type="xs:int" />
      <xs:element minOccurs="0" name="Height" type="xs:int" />
      <xs:element minOccurs="0" name="IsInZone" type="xs:boolean" />
      <xs:element minOccurs="0" name="LaneNumber" type="xs:int" />
      <xs:element minOccurs="0" name="ObjectId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SentTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="VehicleCount" type="xs:int" />
      <xs:element minOccurs="0" name="VehicleType" type="xs:int" />
      <xs:element minOccurs="0" name="VideoAanalyticsEventId" type="xs:int" />
      <xs:element minOccurs="0" name="Width" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VideoAanalyticsEventDTO" nillable="true" type="tns:VideoAanalyticsEventDTO" />
  <xs:complexType name="ArrayOfAttachedIncidentReport">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AttachedIncidentReport" nillable="true" type="tns:AttachedIncidentReport" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAttachedIncidentReport" nillable="true" type="tns:ArrayOfAttachedIncidentReport" />
  <xs:complexType name="AttachedIncidentReport">
    <xs:sequence>
      <xs:element minOccurs="0" name="AttachedDatetime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReportID" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AttachedIncidentReport" nillable="true" type="tns:AttachedIncidentReport" />
  <xs:complexType name="ArrayOfIncidentReportResource">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="IncidentReportResource" nillable="true" type="tns:IncidentReportResource" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIncidentReportResource" nillable="true" type="tns:ArrayOfIncidentReportResource" />
  <xs:complexType name="IncidentReportResource">
    <xs:sequence>
      <xs:element minOccurs="0" name="Appended" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ResourceId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IncidentReportResource" nillable="true" type="tns:IncidentReportResource" />
  <xs:complexType name="ArrayOftblCameraStatusDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tblCameraStatusDto" nillable="true" type="tns:tblCameraStatusDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftblCameraStatusDto" nillable="true" type="tns:ArrayOftblCameraStatusDto" />
  <xs:complexType name="tblCameraStatusDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="CameraStatusID" type="xs:int" />
      <xs:element minOccurs="0" name="DeviceID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Remarks" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tblCameraStatusDto" nillable="true" type="tns:tblCameraStatusDto" />
  <xs:complexType name="ArrayOfAnalyticsDetailsDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AnalyticsDetailsDto" nillable="true" type="tns:AnalyticsDetailsDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAnalyticsDetailsDto" nillable="true" type="tns:ArrayOfAnalyticsDetailsDto" />
  <xs:complexType name="AnalyticsDetailsDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="AnalyticsName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AnalyticsServerIp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AnalyticsStartTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="AnalyticsStatus" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="CameraGUID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeviceId" type="xs:long" />
      <xs:element minOccurs="0" name="DeviceName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ScheduleEnable" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Site" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SiteId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Zone" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AnalyticsDetailsDto" nillable="true" type="tns:AnalyticsDetailsDto" />
  <xs:complexType name="ArrayOfIncidentReport">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="IncidentReport" nillable="true" type="tns:IncidentReport" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIncidentReport" nillable="true" type="tns:ArrayOfIncidentReport" />
  <xs:complexType name="ArrayOfSiteDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SiteDto" nillable="true" type="tns:SiteDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSiteDto" nillable="true" type="tns:ArrayOfSiteDto" />
  <xs:complexType name="SiteDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Address" nillable="true" type="tns:AddressDto" />
      <xs:element minOccurs="0" name="Alt" type="xs:double" />
      <xs:element minOccurs="0" name="BBoxPointCollection" nillable="true" type="tns:ArrayOfBBoxPointDto" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ChildSites" nillable="true" type="q2:ArrayOfint" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DevicesCollection" nillable="true" type="tns:ArrayOfDeviceDto" />
      <xs:element minOccurs="0" name="ExternalIdentifier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HasChildren" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsBingMap" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Lat" type="xs:double" />
      <xs:element minOccurs="0" name="Long" type="xs:double" />
      <xs:element minOccurs="0" name="Map" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="MapUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParentId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Pin" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="PinUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SiteId" type="xs:int" />
      <xs:element minOccurs="0" name="SiteName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SiteType" nillable="true" type="tns:SiteTypeDto" />
      <xs:element minOccurs="0" name="ZoomLevel" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SiteDto" nillable="true" type="tns:SiteDto" />
  <xs:complexType name="ArrayOfBBoxPointDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BBoxPointDto" nillable="true" type="tns:BBoxPointDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBBoxPointDto" nillable="true" type="tns:ArrayOfBBoxPointDto" />
  <xs:complexType name="BBoxPointDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Alt" type="xs:double" />
      <xs:element minOccurs="0" name="BBoxPointId" type="xs:int" />
      <xs:element minOccurs="0" name="Lat" type="xs:double" />
      <xs:element minOccurs="0" name="Long" type="xs:double" />
      <xs:element minOccurs="0" name="Site" nillable="true" type="tns:SiteDto" />
      <xs:element minOccurs="0" name="SiteId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BBoxPointDto" nillable="true" type="tns:BBoxPointDto" />
  <xs:complexType name="SiteTypeDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HierarchyLevel" type="xs:int" />
      <xs:element minOccurs="0" name="Icon" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SiteTypeId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SiteTypeDto" nillable="true" type="tns:SiteTypeDto" />
  <xs:complexType name="ArrayOftblCameraBookMarkDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tblCameraBookMarkDto" nillable="true" type="tns:tblCameraBookMarkDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftblCameraBookMarkDto" nillable="true" type="tns:ArrayOftblCameraBookMarkDto" />
  <xs:complexType name="tblCameraBookMarkDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DeviceID" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="ID" type="xs:long" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reserve1" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tblCameraBookMarkDto" nillable="true" type="tns:tblCameraBookMarkDto" />
  <xs:complexType name="ArrayOfAlarmPanelDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AlarmPanelDTO" nillable="true" type="tns:AlarmPanelDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAlarmPanelDTO" nillable="true" type="tns:ArrayOfAlarmPanelDTO" />
  <xs:complexType name="AlarmPanelDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:InterfaceDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="AlarmPanelTypeId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="EventTypeTemplateId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="InterfaceDeviceIP" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="InterfaceDevicePort" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AlarmPanelDTO" nillable="true" type="tns:AlarmPanelDTO" />
  <xs:complexType name="InterfaceDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Account" nillable="true" type="tns:AccountDto" />
      <xs:element minOccurs="0" name="AccountId" type="xs:int" />
      <xs:element minOccurs="0" name="AlarmPanel" nillable="true" type="tns:ArrayOfAlarmPanelDTO" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeviceExternalIdDefinition" nillable="true" type="tns:ArrayOfDeviceExternalIdDefinitionDto" />
      <xs:element minOccurs="0" name="EventTypeTemplate" nillable="true" type="tns:EventTypeTemplateDto" />
      <xs:element minOccurs="0" name="InterfaceId" type="xs:int" />
      <xs:element minOccurs="0" name="InterfaceType" nillable="true" type="tns:InterfaceTypeDto" />
      <xs:element minOccurs="0" name="InterfaceTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="NVR" nillable="true" type="tns:ArrayOfNvrDto" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SiteId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InterfaceDto" nillable="true" type="tns:InterfaceDto" />
  <xs:complexType name="ArrayOfDeviceExternalIdDefinitionDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DeviceExternalIdDefinitionDto" nillable="true" type="tns:DeviceExternalIdDefinitionDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDeviceExternalIdDefinitionDto" nillable="true" type="tns:ArrayOfDeviceExternalIdDefinitionDto" />
  <xs:complexType name="DeviceExternalIdDefinitionDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="EventFieldDefinition" nillable="true" type="tns:EventFieldDefinitionDto" />
      <xs:element minOccurs="0" name="InterfaceId" type="xs:int" />
      <xs:element minOccurs="0" name="order" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeviceExternalIdDefinitionDto" nillable="true" type="tns:DeviceExternalIdDefinitionDto" />
  <xs:complexType name="EventFieldDefinitionDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="EventFieldId" type="xs:int" />
      <xs:element minOccurs="0" name="EventFieldType" nillable="true" type="tns:EventFieldTypeDto" />
      <xs:element minOccurs="0" name="EventTypeTemplate" nillable="true" type="tns:EventTypeTemplateDto" />
      <xs:element minOccurs="0" name="EventTypeTemplateId" type="xs:int" />
      <xs:element minOccurs="0" name="FieldName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumberOfBytes" type="xs:int" />
      <xs:element minOccurs="0" name="StartByte" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EventFieldDefinitionDto" nillable="true" type="tns:EventFieldDefinitionDto" />
  <xs:complexType name="EventFieldTypeDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="EventFieldDefinition" nillable="true" type="tns:ArrayOfEventFieldDefinitionDto" />
      <xs:element minOccurs="0" name="FieldTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="Format" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EventFieldTypeDto" nillable="true" type="tns:EventFieldTypeDto" />
  <xs:complexType name="ArrayOfEventFieldDefinitionDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EventFieldDefinitionDto" nillable="true" type="tns:EventFieldDefinitionDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEventFieldDefinitionDto" nillable="true" type="tns:ArrayOfEventFieldDefinitionDto" />
  <xs:complexType name="EventTypeTemplateDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Discriminator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EventFieldDefinition" nillable="true" type="tns:ArrayOfEventFieldDefinitionDto" />
      <xs:element minOccurs="0" name="EventTemplateName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EventTypeTemplateId" type="xs:int" />
      <xs:element minOccurs="0" name="ExternalId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EventTypeTemplateDto" nillable="true" type="tns:EventTypeTemplateDto" />
  <xs:complexType name="InterfaceTypeDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="InterfaceTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InterfaceTypeDto" nillable="true" type="tns:InterfaceTypeDto" />
  <xs:complexType name="ArrayOftblcustomermasterDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tblcustomermasterDTO" nillable="true" type="tns:tblcustomermasterDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftblcustomermasterDTO" nillable="true" type="tns:ArrayOftblcustomermasterDTO" />
  <xs:complexType name="tblcustomermasterDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="contactnumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="emailid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="firstname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lastname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ownership" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tblcustomermasterDTO" nillable="true" type="tns:tblcustomermasterDTO" />
</xs:schema>