32bitServices/BrokerAutherizationService/AMS.Broker/Service References/ControllerGetOperationRef/ControllerGetOperation.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://localhost:6530/SOAP/ControllerGetOperation?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AMS.Broker.Contracts.DTO" />
  <xs:import schemaLocation="https://localhost:6530/SOAP/ControllerGetOperation?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="https://localhost:6530/SOAP/ControllerGetOperation?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetDevicesCollection">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="authToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDevicesCollectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AMS.Broker.Contracts.DTO" minOccurs="0" name="GetDevicesCollectionResult" nillable="true" type="q1:ArrayOfDeviceDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDevicesCollectionMob">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="authToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDevicesCollectionMobResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AMS.Broker.Contracts.DTO" minOccurs="0" name="GetDevicesCollectionMobResult" nillable="true" type="q2:ArrayOfDeviceDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDevicesCollectionWeb">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="authToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDevicesCollectionWebResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AMS.Broker.Contracts.DTO" minOccurs="0" name="GetDevicesCollectionWebResult" nillable="true" type="q3:ArrayOfDeviceDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDevicesCollectionMobSiteId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="authToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="siteId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDevicesCollectionMobSiteIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AMS.Broker.Contracts.DTO" minOccurs="0" name="GetDevicesCollectionMobSiteIdResult" nillable="true" type="q4:ArrayOfDeviceDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountsCollection">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="authToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountsCollectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/AMS.Broker.Contracts.DTO" minOccurs="0" name="GetAccountsCollectionResult" nillable="true" type="q5:ArrayOfAccountDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContactsCollection">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="authToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContactsCollectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/AMS.Broker.Contracts.DTO" minOccurs="0" name="GetContactsCollectionResult" nillable="true" type="q6:ArrayOfContactDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDisasterDataCollection">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="authToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDisasterDataCollectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/AMS.Broker.Contracts.DTO" minOccurs="0" name="GetDisasterDataCollectionResult" nillable="true" type="q7:ArrayOftblDisasterManagementDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetElectriLightDataCollection">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="authToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetElectriLightDataCollectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/AMS.Broker.Contracts.DTO" minOccurs="0" name="GetElectriLightDataCollectionResult" nillable="true" type="q8:ArrayOftblSmartCityStreetLightDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetElectritionDataCollection">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="authToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetElectritionDataCollectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/AMS.Broker.Contracts.DTO" minOccurs="0" name="GetElectritionDataCollectionResult" nillable="true" type="q9:ArrayOftblSmartCityStreetElecDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttachResourceCollection">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttachResourceCollectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/AMS.Broker.Contracts.DTO" minOccurs="0" name="GetAttachResourceCollectionResult" nillable="true" type="q10:ArrayOfResourceData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Test">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TestResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupsCollection">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="authToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupsCollectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/AMS.Broker.Contracts.DTO" minOccurs="0" name="GetGroupsCollectionResult" nillable="true" type="q11:ArrayOfGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeviceById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="authToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="deviceId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeviceByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/AMS.Broker.Contracts.DTO" minOccurs="0" name="GetDeviceByIdResult" nillable="true" type="q12:DeviceDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssociatedDeviceId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deviceId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssociatedDeviceIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAssociatedDeviceIdResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeviceByIdSim">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deviceId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeviceByIdSimResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/AMS.Broker.Contracts.DTO" minOccurs="0" name="GetDeviceByIdSimResult" nillable="true" type="q13:DeviceDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCameraDeviceByGuid">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="cameraGuid" type="q14:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCameraDeviceByGuidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/AMS.Broker.Contracts.DTO" minOccurs="0" name="GetCameraDeviceByGuidResult" nillable="true" type="q15:DeviceDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSiteAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="siteID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSiteAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/AMS.Broker.Contracts.DTO" minOccurs="0" name="GetSiteAddressResult" nillable="true" type="q16:ArrayOfAddressDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDevicesByInterfaceId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="interfaceId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDevicesByInterfaceIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/AMS.Broker.Contracts.DTO" minOccurs="0" name="GetDevicesByInterfaceIdResult" nillable="true" type="q17:ArrayOfDeviceDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="authToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/AMS.Broker.Contracts.DTO" minOccurs="0" name="GetUsersResult" nillable="true" type="q18:ArrayOfUserDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeviceTypes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="authToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeviceTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetDeviceTypesResult" nillable="true" type="q19:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNvrs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="authToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNvrsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/AMS.Broker.Contracts.DTO" minOccurs="0" name="GetNvrsResult" nillable="true" type="q20:ArrayOfNvrDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNvrById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="authToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nvrId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNvrByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/AMS.Broker.Contracts.DTO" minOccurs="0" name="GetNvrByIdResult" nillable="true" type="q21:NvrDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNvrByInterfaceId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="authToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="interfaceId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNvrByInterfaceIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/AMS.Broker.Contracts.DTO" minOccurs="0" name="GetNvrByInterfaceIdResult" nillable="true" type="q22:NvrDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="authToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="groupId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/AMS.Broker.Contracts.DTO" minOccurs="0" name="GetGroupByIdResult" nillable="true" type="q23:Group" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetValuesLookUp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="authToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetValuesLookUpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/AMS.Broker.Contracts.DTO" minOccurs="0" name="GetValuesLookUpResult" nillable="true" type="q24:ArrayOfValuesLookUp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetValuesHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="authToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="deviceId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetValuesHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetValuesHistoryResult" nillable="true" type="q25:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDevicesScheduleCollection">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="authToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="deviceId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDevicesScheduleCollectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/AMS.Broker.Contracts.DTO" minOccurs="0" name="GetDevicesScheduleCollectionResult" nillable="true" type="q26:ArrayOfDeviceVAnalyticsScheduleDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewEvents">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="authToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewEventsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/AMS.Broker.Contracts.DTO" minOccurs="0" name="GetNewEventsResult" nillable="true" type="q27:ArrayOfEvent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeviceIdByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="authToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeviceIdByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDeviceIdByNameResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNokPresetCollection">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="authToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNokPresetCollectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/AMS.Broker.Contracts.DTO" minOccurs="0" name="GetNokPresetCollectionResult" nillable="true" type="q28:ArrayOftblNokDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNokPresetFromNok">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="authToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNokPresetFromNokResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetNokPresetFromNokResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSelectedDateIncidentReportsByOwner">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="authToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startCreateDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="endCreateDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ownerUsername" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSelectedDateIncidentReportsByOwnerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/AMS.Broker.Contracts.DTO" minOccurs="0" name="GetSelectedDateIncidentReportsByOwnerResult" nillable="true" type="q29:ArrayOfIncidentReportWrapper" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsAlertAttached">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IrID" type="xs:long" />
        <xs:element minOccurs="0" name="alertid" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsAlertAttachedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsAlertAttachedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeviceStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="authToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeviceStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/AMS.Broker.Contracts.DTO" minOccurs="0" name="GetDeviceStatusResult" nillable="true" type="q30:ArrayOftblCameraStatusDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersite">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersiteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUsersiteResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeviceAnalyticsDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="authToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="siteID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeviceAnalyticsDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/AMS.Broker.Contracts.DTO" minOccurs="0" name="GetDeviceAnalyticsDetailsResult" nillable="true" type="q31:ArrayOfAnalyticsDetailsDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnalyticsDeviceCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="authToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnalyticsDeviceCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAnalyticsDeviceCountResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContextIRData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Context" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContextIRDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/AMS.Broker.Contracts.DTO" minOccurs="0" name="GetContextIRDataResult" nillable="true" type="q32:ArrayOfIncidentReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContextSiteData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Context" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContextSiteDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/AMS.Broker.Contracts.DTO" minOccurs="0" name="GetContextSiteDataResult" nillable="true" type="q33:ArrayOfSiteDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContextDeviceData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Context" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContextDeviceDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/AMS.Broker.Contracts.DTO" minOccurs="0" name="GetContextDeviceDataResult" nillable="true" type="q34:ArrayOfDeviceDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCameraBookMarkCollection">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deviceID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCameraBookMarkCollectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/AMS.Broker.Contracts.DTO" minOccurs="0" name="GetCameraBookMarkCollectionResult" nillable="true" type="q35:ArrayOftblCameraBookMarkDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRepositoryConfiguration">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="authToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRepositoryConfigurationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRepositoryConfigurationResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlarmPanelInterface">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="authToken" type="q36:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlarmPanelInterfaceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/AMS.Broker.Contracts.DTO" minOccurs="0" name="GetAlarmPanelInterfaceResult" nillable="true" type="q37:ArrayOfAlarmPanelDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInterfaceById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="authToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="InterfaceId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInterfaceByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetInterfaceByIdResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPAInterface">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPAInterfaceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/AMS.Broker.Contracts.DTO" minOccurs="0" name="GetPAInterfaceResult" nillable="true" type="q38:ArrayOfAlarmPanelDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerinfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strcid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerinfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/AMS.Broker.Contracts.DTO" minOccurs="0" name="GetCustomerinfoResult" nillable="true" type="q39:ArrayOftblcustomermasterDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>