32bitServices/BrokerAutherizationService/AMS.Broker/Service References/AlertsCreationServiceRef/AlertsCreationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AlertsCreationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IAlertsCreationService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://localhost:6530/SOAP/AlertsCreationService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://localhost:6530/SOAP/AlertsCreationService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://localhost:6530/SOAP/AlertsCreationService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AMS.Broker.Contracts.DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAlertsCreationService_SubmitNewAlert_InputMessage">
    <wsdl:part name="parameters" element="tns:SubmitNewAlert" />
  </wsdl:message>
  <wsdl:message name="IAlertsCreationService_SubmitNewAlert_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubmitNewAlertResponse" />
  </wsdl:message>
  <wsdl:message name="IAlertsCreationService_SubmitNewAlertDto_InputMessage">
    <wsdl:part name="parameters" element="tns:SubmitNewAlertDto" />
  </wsdl:message>
  <wsdl:message name="IAlertsCreationService_SubmitNewAlertDto_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubmitNewAlertDtoResponse" />
  </wsdl:message>
  <wsdl:message name="IAlertsCreationService_SubmitNewAlertMycs_InputMessage">
    <wsdl:part name="parameters" element="tns:SubmitNewAlertMycs" />
  </wsdl:message>
  <wsdl:message name="IAlertsCreationService_SubmitNewAlertMycs_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubmitNewAlertMycsResponse" />
  </wsdl:message>
  <wsdl:message name="IAlertsCreationService_SubmitNewAlertEdgeAnalytics_InputMessage">
    <wsdl:part name="parameters" element="tns:SubmitNewAlertEdgeAnalytics" />
  </wsdl:message>
  <wsdl:message name="IAlertsCreationService_SubmitNewAlertEdgeAnalytics_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubmitNewAlertEdgeAnalyticsResponse" />
  </wsdl:message>
  <wsdl:message name="IAlertsCreationService_CreatePAAlert_InputMessage">
    <wsdl:part name="parameters" element="tns:CreatePAAlert" />
  </wsdl:message>
  <wsdl:message name="IAlertsCreationService_CreatePAAlert_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreatePAAlertResponse" />
  </wsdl:message>
  <wsdl:message name="IAlertsCreationService_CreateMobileAlert_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateMobileAlert" />
  </wsdl:message>
  <wsdl:message name="IAlertsCreationService_CreateMobileAlert_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateMobileAlertResponse" />
  </wsdl:message>
  <wsdl:message name="IAlertsCreationService_CreateDummySimulatorAlerts_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateDummySimulatorAlerts" />
  </wsdl:message>
  <wsdl:message name="IAlertsCreationService_CreateDummySimulatorAlerts_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateDummySimulatorAlertsResponse" />
  </wsdl:message>
  <wsdl:message name="IAlertsCreationService_AnimateMapPin_InputMessage">
    <wsdl:part name="parameters" element="tns:AnimateMapPin" />
  </wsdl:message>
  <wsdl:message name="IAlertsCreationService_AnimateMapPin_OutputMessage">
    <wsdl:part name="parameters" element="tns:AnimateMapPinResponse" />
  </wsdl:message>
  <wsdl:portType name="IAlertsCreationService">
    <wsdl:operation name="SubmitNewAlert">
      <wsdl:input wsaw:Action="http://tempuri.org/IAlertsCreationService/SubmitNewAlert" message="tns:IAlertsCreationService_SubmitNewAlert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAlertsCreationService/SubmitNewAlertResponse" message="tns:IAlertsCreationService_SubmitNewAlert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SubmitNewAlertDto">
      <wsdl:input wsaw:Action="http://tempuri.org/IAlertsCreationService/SubmitNewAlertDto" message="tns:IAlertsCreationService_SubmitNewAlertDto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAlertsCreationService/SubmitNewAlertDtoResponse" message="tns:IAlertsCreationService_SubmitNewAlertDto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SubmitNewAlertMycs">
      <wsdl:input wsaw:Action="http://tempuri.org/IAlertsCreationService/SubmitNewAlertMycs" message="tns:IAlertsCreationService_SubmitNewAlertMycs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAlertsCreationService/SubmitNewAlertMycsResponse" message="tns:IAlertsCreationService_SubmitNewAlertMycs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SubmitNewAlertEdgeAnalytics">
      <wsdl:input wsaw:Action="http://tempuri.org/IAlertsCreationService/SubmitNewAlertEdgeAnalytics" message="tns:IAlertsCreationService_SubmitNewAlertEdgeAnalytics_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAlertsCreationService/SubmitNewAlertEdgeAnalyticsResponse" message="tns:IAlertsCreationService_SubmitNewAlertEdgeAnalytics_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreatePAAlert">
      <wsdl:input wsaw:Action="http://tempuri.org/IAlertsCreationService/CreatePAAlert" message="tns:IAlertsCreationService_CreatePAAlert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAlertsCreationService/CreatePAAlertResponse" message="tns:IAlertsCreationService_CreatePAAlert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateMobileAlert">
      <wsdl:input wsaw:Action="http://tempuri.org/IAlertsCreationService/CreateMobileAlert" message="tns:IAlertsCreationService_CreateMobileAlert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAlertsCreationService/CreateMobileAlertResponse" message="tns:IAlertsCreationService_CreateMobileAlert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateDummySimulatorAlerts">
      <wsdl:input wsaw:Action="http://tempuri.org/IAlertsCreationService/CreateDummySimulatorAlerts" message="tns:IAlertsCreationService_CreateDummySimulatorAlerts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAlertsCreationService/CreateDummySimulatorAlertsResponse" message="tns:IAlertsCreationService_CreateDummySimulatorAlerts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AnimateMapPin">
      <wsdl:input wsaw:Action="http://tempuri.org/IAlertsCreationService/AnimateMapPin" message="tns:IAlertsCreationService_AnimateMapPin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAlertsCreationService/AnimateMapPinResponse" message="tns:IAlertsCreationService_AnimateMapPin_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IAlertsCreationService" type="tns:IAlertsCreationService">
    <wsp:PolicyReference URI="#WSHttpBinding_IAlertsCreationService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SubmitNewAlert">
      <soap12:operation soapAction="http://tempuri.org/IAlertsCreationService/SubmitNewAlert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitNewAlertDto">
      <soap12:operation soapAction="http://tempuri.org/IAlertsCreationService/SubmitNewAlertDto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitNewAlertMycs">
      <soap12:operation soapAction="http://tempuri.org/IAlertsCreationService/SubmitNewAlertMycs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitNewAlertEdgeAnalytics">
      <soap12:operation soapAction="http://tempuri.org/IAlertsCreationService/SubmitNewAlertEdgeAnalytics" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreatePAAlert">
      <soap12:operation soapAction="http://tempuri.org/IAlertsCreationService/CreatePAAlert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateMobileAlert">
      <soap12:operation soapAction="http://tempuri.org/IAlertsCreationService/CreateMobileAlert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateDummySimulatorAlerts">
      <soap12:operation soapAction="http://tempuri.org/IAlertsCreationService/CreateDummySimulatorAlerts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AnimateMapPin">
      <soap12:operation soapAction="http://tempuri.org/IAlertsCreationService/AnimateMapPin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AlertsCreationService">
    <wsdl:port name="WSHttpBinding_IAlertsCreationService" binding="tns:WSHttpBinding_IAlertsCreationService">
      <soap12:address location="https://localhost:6530/soap/AlertsCreationService" />
      <wsa10:EndpointReference>
        <wsa10:Address>https://localhost:6530/soap/AlertsCreationService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>