BrokerWatchDogService/AMS.Broker/Service References/NvrCamerasService/NvrCamerasService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/AMS.Broker.Contracts.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AMS.Broker.Contracts.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4532/SOAP/NvrCamerasService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfDeviceDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DeviceDto" nillable="true" type="tns:DeviceDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDeviceDto" nillable="true" type="tns:ArrayOfDeviceDto" />
  <xs:complexType name="DeviceDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActiveAlert" type="xs:boolean" />
      <xs:element minOccurs="0" name="Altitude" type="xs:decimal" />
      <xs:element minOccurs="0" name="CameraGUID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeviceId" type="xs:long" />
      <xs:element minOccurs="0" name="IPAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Lat" type="xs:decimal" />
      <xs:element minOccurs="0" name="LocationDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Long" type="xs:decimal" />
      <xs:element minOccurs="0" name="Metadata" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NvrId" type="xs:long" />
      <xs:element minOccurs="0" name="Port" type="xs:short" />
      <xs:element minOccurs="0" name="Site" nillable="true" type="tns:SiteDto" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeviceDto" nillable="true" type="tns:DeviceDto" />
  <xs:complexType name="SiteDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="tns:AddressDto" />
      <xs:element minOccurs="0" name="Alt" type="xs:decimal" />
      <xs:element minOccurs="0" name="BBoxPointCollection" nillable="true" type="tns:ArrayOfBBoxPointDto" />
      <xs:element minOccurs="0" name="ChildSitesCollection" nillable="true" type="tns:ArrayOfSiteDto" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DevicesCollection" nillable="true" type="tns:ArrayOfDeviceDto" />
      <xs:element minOccurs="0" name="HasChildren" type="xs:boolean" />
      <xs:element minOccurs="0" name="Lat" type="xs:decimal" />
      <xs:element minOccurs="0" name="Long" type="xs:decimal" />
      <xs:element minOccurs="0" name="Map" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="MapUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParentId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Pin" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="PinUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SiteId" type="xs:int" />
      <xs:element minOccurs="0" name="SiteType" nillable="true" type="tns:SiteTypeDto" />
      <xs:element minOccurs="0" name="ZoomLevel" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SiteDto" nillable="true" type="tns:SiteDto" />
  <xs:complexType name="AddressDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="AddressId" type="xs:int" />
      <xs:element minOccurs="0" name="AddressNumber" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="AddressTypeCode" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="County" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CreatedOn" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DeletionStateCode" type="xs:int" />
      <xs:element minOccurs="0" name="Fax" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Latitude" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Line1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Line2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Line3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Longitude" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="ModifiedBy" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ModifiedOn" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PersonId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PostOfficeBox" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostalCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShippingMethodCode" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SiteId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="StateOrProvince" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telephone1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telephone2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telephone3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UPSZone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UTCOffset" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="VersionNumber" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddressDto" nillable="true" type="tns:AddressDto" />
  <xs:complexType name="PersonDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="tns:ArrayOfAddressDto" />
      <xs:element minOccurs="0" name="AgeRange" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="BirthDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Contacts" nillable="true" type="tns:ArrayOfContactDto" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CreatedOn" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EducationCode" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Ethnicity" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ExternalIdentifier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GenderCode" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MiddleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModifiedBy" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ModifiedOn" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NickName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PersonId" type="xs:int" />
      <xs:element minOccurs="0" name="Portrait" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Suffix" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonDto" nillable="true" type="tns:PersonDto" />
  <xs:complexType name="ArrayOfAddressDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AddressDto" nillable="true" type="tns:AddressDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAddressDto" nillable="true" type="tns:ArrayOfAddressDto" />
  <xs:complexType name="ArrayOfContactDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ContactDto" nillable="true" type="tns:ContactDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContactDto" nillable="true" type="tns:ArrayOfContactDto" />
  <xs:complexType name="ContactDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ContactId" type="xs:int" />
      <xs:element minOccurs="0" name="ContactTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="CreatedOn" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DeletionStateCode" type="xs:int" />
      <xs:element minOccurs="0" name="ModifiedBy" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="ModifiedOn" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PersonId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContactDto" nillable="true" type="tns:ContactDto" />
  <xs:complexType name="ArrayOfBBoxPointDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BBoxPointDto" nillable="true" type="tns:BBoxPointDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBBoxPointDto" nillable="true" type="tns:ArrayOfBBoxPointDto" />
  <xs:complexType name="BBoxPointDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Alt" type="xs:decimal" />
      <xs:element minOccurs="0" name="BBoxPointId" type="xs:int" />
      <xs:element minOccurs="0" name="Lat" type="xs:decimal" />
      <xs:element minOccurs="0" name="Long" type="xs:decimal" />
      <xs:element minOccurs="0" name="Site" nillable="true" type="tns:SiteDto" />
      <xs:element minOccurs="0" name="SiteId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BBoxPointDto" nillable="true" type="tns:BBoxPointDto" />
  <xs:complexType name="SiteTypeDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Icon" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SiteTypeId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SiteTypeDto" nillable="true" type="tns:SiteTypeDto" />
  <xs:complexType name="ArrayOfSiteDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SiteDto" nillable="true" type="tns:SiteDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSiteDto" nillable="true" type="tns:ArrayOfSiteDto" />
  <xs:complexType name="NvrDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeviceCollection" nillable="true" type="tns:ArrayOfDeviceDto" />
      <xs:element minOccurs="0" name="IPAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NvrId" type="xs:long" />
      <xs:element minOccurs="0" name="NvrUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Port" type="xs:short" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NvrDto" nillable="true" type="tns:NvrDto" />
</xs:schema>