BrokerWatchDogService/AMS.Broker/Service References/NvrVideoAnalytics/service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="VideoAnalyticsService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IVideoAnalyticsService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/TwTw.VideoAnaliyticsService" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/TwTw.VideoAnalyticsService.Interfaces" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IVideoAnalyticsService_GetCapabilities_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCapabilities" />
  </wsdl:message>
  <wsdl:message name="IVideoAnalyticsService_GetCapabilities_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCapabilitiesResponse" />
  </wsdl:message>
  <wsdl:message name="IVideoAnalyticsService_SetupAnalytics_InputMessage">
    <wsdl:part name="parameters" element="tns:SetupAnalytics" />
  </wsdl:message>
  <wsdl:message name="IVideoAnalyticsService_SetupAnalytics_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetupAnalyticsResponse" />
  </wsdl:message>
  <wsdl:message name="IVideoAnalyticsService_StartAnalytics_InputMessage">
    <wsdl:part name="parameters" element="tns:StartAnalytics" />
  </wsdl:message>
  <wsdl:message name="IVideoAnalyticsService_StartAnalytics_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartAnalyticsResponse" />
  </wsdl:message>
  <wsdl:message name="IVideoAnalyticsService_GetEvents_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEvents" />
  </wsdl:message>
  <wsdl:message name="IVideoAnalyticsService_GetEvents_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEventsResponse" />
  </wsdl:message>
  <wsdl:message name="IVideoAnalyticsService_StopAnalytics_InputMessage">
    <wsdl:part name="parameters" element="tns:StopAnalytics" />
  </wsdl:message>
  <wsdl:message name="IVideoAnalyticsService_StopAnalytics_OutputMessage">
    <wsdl:part name="parameters" element="tns:StopAnalyticsResponse" />
  </wsdl:message>
  <wsdl:message name="IVideoAnalyticsService_GetStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStatus" />
  </wsdl:message>
  <wsdl:message name="IVideoAnalyticsService_GetStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IVideoAnalyticsService_GetCapabilities2020_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCapabilities2020" />
  </wsdl:message>
  <wsdl:message name="IVideoAnalyticsService_GetCapabilities2020_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCapabilities2020Response" />
  </wsdl:message>
  <wsdl:message name="IVideoAnalyticsService_StartAnalytics2020_InputMessage">
    <wsdl:part name="parameters" element="tns:StartAnalytics2020" />
  </wsdl:message>
  <wsdl:message name="IVideoAnalyticsService_StartAnalytics2020_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartAnalytics2020Response" />
  </wsdl:message>
  <wsdl:message name="IVideoAnalyticsService_StopAnalytics2020_InputMessage">
    <wsdl:part name="parameters" element="tns:StopAnalytics2020" />
  </wsdl:message>
  <wsdl:message name="IVideoAnalyticsService_StopAnalytics2020_OutputMessage">
    <wsdl:part name="parameters" element="tns:StopAnalytics2020Response" />
  </wsdl:message>
  <wsdl:message name="IVideoAnalyticsService_GetStatus2020_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStatus2020" />
  </wsdl:message>
  <wsdl:message name="IVideoAnalyticsService_GetStatus2020_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStatus2020Response" />
  </wsdl:message>
  <wsdl:portType name="IVideoAnalyticsService">
    <wsdl:operation name="GetCapabilities">
      <wsdl:input wsaw:Action="http://tempuri.org/IVideoAnalyticsService/GetCapabilities" message="tns:IVideoAnalyticsService_GetCapabilities_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVideoAnalyticsService/GetCapabilitiesResponse" message="tns:IVideoAnalyticsService_GetCapabilities_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetupAnalytics">
      <wsdl:input wsaw:Action="http://tempuri.org/IVideoAnalyticsService/SetupAnalytics" message="tns:IVideoAnalyticsService_SetupAnalytics_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVideoAnalyticsService/SetupAnalyticsResponse" message="tns:IVideoAnalyticsService_SetupAnalytics_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StartAnalytics">
      <wsdl:input wsaw:Action="http://tempuri.org/IVideoAnalyticsService/StartAnalytics" message="tns:IVideoAnalyticsService_StartAnalytics_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVideoAnalyticsService/StartAnalyticsResponse" message="tns:IVideoAnalyticsService_StartAnalytics_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEvents">
      <wsdl:input wsaw:Action="http://tempuri.org/IVideoAnalyticsService/GetEvents" message="tns:IVideoAnalyticsService_GetEvents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVideoAnalyticsService/GetEventsResponse" message="tns:IVideoAnalyticsService_GetEvents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StopAnalytics">
      <wsdl:input wsaw:Action="http://tempuri.org/IVideoAnalyticsService/StopAnalytics" message="tns:IVideoAnalyticsService_StopAnalytics_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVideoAnalyticsService/StopAnalyticsResponse" message="tns:IVideoAnalyticsService_StopAnalytics_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IVideoAnalyticsService/GetStatus" message="tns:IVideoAnalyticsService_GetStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVideoAnalyticsService/GetStatusResponse" message="tns:IVideoAnalyticsService_GetStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCapabilities2020">
      <wsdl:input wsaw:Action="http://tempuri.org/IVideoAnalyticsService/GetCapabilities2020" message="tns:IVideoAnalyticsService_GetCapabilities2020_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVideoAnalyticsService/GetCapabilities2020Response" message="tns:IVideoAnalyticsService_GetCapabilities2020_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StartAnalytics2020">
      <wsdl:input wsaw:Action="http://tempuri.org/IVideoAnalyticsService/StartAnalytics2020" message="tns:IVideoAnalyticsService_StartAnalytics2020_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVideoAnalyticsService/StartAnalytics2020Response" message="tns:IVideoAnalyticsService_StartAnalytics2020_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StopAnalytics2020">
      <wsdl:input wsaw:Action="http://tempuri.org/IVideoAnalyticsService/StopAnalytics2020" message="tns:IVideoAnalyticsService_StopAnalytics2020_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVideoAnalyticsService/StopAnalytics2020Response" message="tns:IVideoAnalyticsService_StopAnalytics2020_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStatus2020">
      <wsdl:input wsaw:Action="http://tempuri.org/IVideoAnalyticsService/GetStatus2020" message="tns:IVideoAnalyticsService_GetStatus2020_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVideoAnalyticsService/GetStatus2020Response" message="tns:IVideoAnalyticsService_GetStatus2020_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IVideoAnalyticsService" type="tns:IVideoAnalyticsService">
    <wsp:PolicyReference URI="#WSHttpBinding_IVideoAnalyticsService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCapabilities">
      <soap12:operation soapAction="http://tempuri.org/IVideoAnalyticsService/GetCapabilities" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetupAnalytics">
      <soap12:operation soapAction="http://tempuri.org/IVideoAnalyticsService/SetupAnalytics" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartAnalytics">
      <soap12:operation soapAction="http://tempuri.org/IVideoAnalyticsService/StartAnalytics" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEvents">
      <soap12:operation soapAction="http://tempuri.org/IVideoAnalyticsService/GetEvents" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StopAnalytics">
      <soap12:operation soapAction="http://tempuri.org/IVideoAnalyticsService/StopAnalytics" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStatus">
      <soap12:operation soapAction="http://tempuri.org/IVideoAnalyticsService/GetStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCapabilities2020">
      <soap12:operation soapAction="http://tempuri.org/IVideoAnalyticsService/GetCapabilities2020" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartAnalytics2020">
      <soap12:operation soapAction="http://tempuri.org/IVideoAnalyticsService/StartAnalytics2020" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StopAnalytics2020">
      <soap12:operation soapAction="http://tempuri.org/IVideoAnalyticsService/StopAnalytics2020" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStatus2020">
      <soap12:operation soapAction="http://tempuri.org/IVideoAnalyticsService/GetStatus2020" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="VideoAnalyticsService">
    <wsdl:port name="WSHttpBinding_IVideoAnalyticsService" binding="tns:WSHttpBinding_IVideoAnalyticsService">
      <soap12:address location="https://localhost:6532/soap/VideoAnalyticsService" />
      <wsa10:EndpointReference>
        <wsa10:Address>https://localhost:6532/soap/VideoAnalyticsService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>