32bitServices/BrokerAutherizationService/AMS.Broker/Service References/AlertsGetOperationServiceRef/AlertsGetOperationService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://localhost:6530/SOAP/AlertsGetOperationService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AMS.Broker.Contracts.DTO" />
  <xs:import schemaLocation="https://localhost:6530/SOAP/AlertsGetOperationService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="GetCurrentOpenAlerts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="authToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentOpenAlertsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AMS.Broker.Contracts.DTO" minOccurs="0" name="GetCurrentOpenAlertsResult" nillable="true" type="q1:ArrayOfAlert" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMobCurrentOpenAlertsCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="authToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMobCurrentOpenAlertsCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMobCurrentOpenAlertsCountResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMobCurrentOpenAlerts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="authToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMobCurrentOpenAlertsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AMS.Broker.Contracts.DTO" minOccurs="0" name="GetMobCurrentOpenAlertsResult" nillable="true" type="q2:ArrayOfAlertMobDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAcknoledgeAlerts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="authToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAcknoledgeAlertsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AMS.Broker.Contracts.DTO" minOccurs="0" name="GetAcknoledgeAlertsResult" nillable="true" type="q3:ArrayOfAlert" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClosedAlerts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="authToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClosedAlertsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AMS.Broker.Contracts.DTO" minOccurs="0" name="GetClosedAlertsResult" nillable="true" type="q4:ArrayOfAlert" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartGetCurrentOpenAlerts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="authToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartGetCurrentOpenAlertsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StartGetCurrentOpenAlertsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlertsKpi">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="authToken" type="q5:guid" />
        <xs:element minOccurs="0" name="startTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="endTime" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlertsKpiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/AMS.Broker.Contracts.DTO" minOccurs="0" name="GetAlertsKpiResult" nillable="true" type="q6:ArrayOfAlertKpi" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewOpenAlerts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="authToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewOpenAlertsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/AMS.Broker.Contracts.DTO" minOccurs="0" name="GetNewOpenAlertsResult" nillable="true" type="q7:ArrayOfAlert" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTop50Alert">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="authToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTop50AlertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/AMS.Broker.Contracts.DTO" minOccurs="0" name="GetTop50AlertResult" nillable="true" type="q8:ArrayOfAlert" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTop50AlertDummy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="authToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTop50AlertDummyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/AMS.Broker.Contracts.DTO" minOccurs="0" name="GetTop50AlertDummyResult" nillable="true" type="q9:ArrayOfAlert" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlertsSeverity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="authToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlertsSeverityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/AMS.Broker.Contracts.DTO" minOccurs="0" name="GetAlertsSeverityResult" nillable="true" type="q10:ArrayOfSeverityDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlertsCertinity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="authToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlertsCertinityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/AMS.Broker.Contracts.DTO" minOccurs="0" name="GetAlertsCertinityResult" nillable="true" type="q11:ArrayOfCertaintyDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlertsUrgency">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="authToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlertsUrgencyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/AMS.Broker.Contracts.DTO" minOccurs="0" name="GetAlertsUrgencyResult" nillable="true" type="q12:ArrayOfUrgencyDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSingleAlert">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="alertID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSingleAlertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/AMS.Broker.Contracts.DTO" minOccurs="0" name="GetSingleAlertResult" nillable="true" type="q13:ArrayOfAlert" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOpenAlertCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="authToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOpenAlertCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetOpenAlertCountResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMobileSingleAlert">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="authToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="alertID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMobileSingleAlertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/AMS.Broker.Contracts.DTO" minOccurs="0" name="GetMobileSingleAlertResult" nillable="true" type="q14:ArrayOfAlertMobDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlertByDeviceId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeviceId" type="xs:long" />
        <xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EndDate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlertByDeviceIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/AMS.Broker.Contracts.DTO" minOccurs="0" name="GetAlertByDeviceIdResult" nillable="true" type="q15:ArrayOfAlert" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeviceAlertCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="authToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DeviceId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeviceAlertCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDeviceAlertCountResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeviceAlertByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="authToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DeviceId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeviceAlertByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/AMS.Broker.Contracts.DTO" minOccurs="0" name="GetDeviceAlertByIDResult" nillable="true" type="q16:ArrayOfAlertByDeviceDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContextAlertData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Context" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Component" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IsDateFilter" type="xs:boolean" />
        <xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EndDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AuthToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContextAlertDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/AMS.Broker.Contracts.DTO" minOccurs="0" name="GetContextAlertDataResult" nillable="true" type="q17:ArrayOfSPSearch_ResultDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AnimateMapPin">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AnimateMapPinResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AnimateMapPinResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssociatedPTZDevice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeviceId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssociatedPTZDeviceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/AMS.Broker.Contracts.DTO" minOccurs="0" name="GetAssociatedPTZDeviceResult" nillable="true" type="q18:ArrayOfAssociatedPtzDeviceDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssociatedPTZDeviceCollection">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssociatedPTZDeviceCollectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/AMS.Broker.Contracts.DTO" minOccurs="0" name="GetAssociatedPTZDeviceCollectionResult" nillable="true" type="q19:ArrayOfAssociatedPtzDeviceDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AllTypeAlertCounts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="authToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AllTypeAlertCountsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AllTypeAlertCountsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssociatedDeviceCollection">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="authToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssociatedDeviceCollectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/AMS.Broker.Contracts.DTO" minOccurs="0" name="GetAssociatedDeviceCollectionResult" nillable="true" type="q20:ArrayOfObjectsAssociationDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecentAndAllTypeAlertCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="authToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecentAndAllTypeAlertCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRecentAndAllTypeAlertCountResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>