32bitServices/BrokerWatchDogService/AMS.Broker/Service References/NvrVideoAnalytics/TwTw.VideoAnalyticsService.Interfaces1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TwTw.VideoAnalyticsService.Interfaces" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TwTw.VideoAnalyticsService.Interfaces" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfVideoAanalyticsEvent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VideoAanalyticsEvent" nillable="true" type="tns:VideoAanalyticsEvent" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVideoAanalyticsEvent" nillable="true" type="tns:ArrayOfVideoAanalyticsEvent" />
  <xs:complexType name="VideoAanalyticsEvent">
    <xs:sequence>
      <xs:element minOccurs="0" name="ALG" type="xs:int" />
      <xs:element minOccurs="0" name="AlarmLevel" type="xs:int" />
      <xs:element minOccurs="0" name="CameraGuid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CenterX" type="xs:int" />
      <xs:element minOccurs="0" name="CenterY" type="xs:int" />
      <xs:element minOccurs="0" name="Height" type="xs:int" />
      <xs:element minOccurs="0" name="IsInZone" type="xs:boolean" />
      <xs:element minOccurs="0" name="LaneNumber" type="xs:int" />
      <xs:element minOccurs="0" name="ObjectId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PeopleCount" type="xs:int" />
      <xs:element minOccurs="0" name="SentTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="VehicleCount" type="xs:int" />
      <xs:element minOccurs="0" name="VehicleType" type="xs:int" />
      <xs:element minOccurs="0" name="Width" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VideoAanalyticsEvent" nillable="true" type="tns:VideoAanalyticsEvent" />
</xs:schema>