32bitServices/BrokerIntegrationService/AMS.Broker/Service References/StationsServiceRef/StationsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="StationsService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IStationsService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://localhost:6530/SOAP/StationsService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://localhost:6530/SOAP/StationsService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://localhost:6530/SOAP/StationsService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AMS.Broker.Contracts.DTO" />
      <xsd:import schemaLocation="https://localhost:6530/SOAP/StationsService?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IStationsService_Test_InputMessage">
    <wsdl:part name="parameters" element="tns:Test" />
  </wsdl:message>
  <wsdl:message name="IStationsService_Test_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestResponse" />
  </wsdl:message>
  <wsdl:message name="IStationsService_RegisterStation_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterStation" />
  </wsdl:message>
  <wsdl:message name="IStationsService_RegisterStation_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterStationResponse" />
  </wsdl:message>
  <wsdl:message name="IStationsService_UpdateRegistionInfoStation_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRegistionInfoStation" />
  </wsdl:message>
  <wsdl:message name="IStationsService_UpdateRegistionInfoStation_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRegistionInfoStationResponse" />
  </wsdl:message>
  <wsdl:message name="IStationsService_ActivateStation_InputMessage">
    <wsdl:part name="parameters" element="tns:ActivateStation" />
  </wsdl:message>
  <wsdl:message name="IStationsService_ActivateStation_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActivateStationResponse" />
  </wsdl:message>
  <wsdl:message name="IStationsService_DeactivateStation_InputMessage">
    <wsdl:part name="parameters" element="tns:DeactivateStation" />
  </wsdl:message>
  <wsdl:message name="IStationsService_DeactivateStation_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeactivateStationResponse" />
  </wsdl:message>
  <wsdl:message name="IStationsService_DeactivateStationByIdentifier_InputMessage">
    <wsdl:part name="parameters" element="tns:DeactivateStationByIdentifier" />
  </wsdl:message>
  <wsdl:message name="IStationsService_DeactivateStationByIdentifier_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeactivateStationByIdentifierResponse" />
  </wsdl:message>
  <wsdl:message name="IStationsService_SentAlertToStation_InputMessage">
    <wsdl:part name="parameters" element="tns:SentAlertToStation" />
  </wsdl:message>
  <wsdl:message name="IStationsService_SentAlertToStation_OutputMessage">
    <wsdl:part name="parameters" element="tns:SentAlertToStationResponse" />
  </wsdl:message>
  <wsdl:message name="IStationsService_SentMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:SentMessage" />
  </wsdl:message>
  <wsdl:message name="IStationsService_SentMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:SentMessageResponse" />
  </wsdl:message>
  <wsdl:message name="IStationsService_SetMosaic_InputMessage">
    <wsdl:part name="parameters" element="tns:SetMosaic" />
  </wsdl:message>
  <wsdl:message name="IStationsService_SetMosaic_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetMosaicResponse" />
  </wsdl:message>
  <wsdl:message name="IStationsService_SetStartStopSequence_InputMessage">
    <wsdl:part name="parameters" element="tns:SetStartStopSequence" />
  </wsdl:message>
  <wsdl:message name="IStationsService_SetStartStopSequence_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetStartStopSequenceResponse" />
  </wsdl:message>
  <wsdl:message name="IStationsService_SendMobileNotification_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMobileNotification" />
  </wsdl:message>
  <wsdl:message name="IStationsService_SendMobileNotification_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendMobileNotificationResponse" />
  </wsdl:message>
  <wsdl:message name="IStationsService_GetStationsCollection_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStationsCollection" />
  </wsdl:message>
  <wsdl:message name="IStationsService_GetStationsCollection_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStationsCollectionResponse" />
  </wsdl:message>
  <wsdl:message name="IStationsService_InformAboutRaisedAlerts_InputMessage">
    <wsdl:part name="parameters" element="tns:InformAboutRaisedAlerts" />
  </wsdl:message>
  <wsdl:message name="IStationsService_InformAboutRaisedAlerts_OutputMessage">
    <wsdl:part name="parameters" element="tns:InformAboutRaisedAlertsResponse" />
  </wsdl:message>
  <wsdl:message name="IStationsService_InformAboutRaisedAlertsNew_InputMessage">
    <wsdl:part name="parameters" element="tns:InformAboutRaisedAlertsNew" />
  </wsdl:message>
  <wsdl:message name="IStationsService_InformAboutRaisedAlertsNew_OutputMessage">
    <wsdl:part name="parameters" element="tns:InformAboutRaisedAlertsNewResponse" />
  </wsdl:message>
  <wsdl:message name="IStationsService_InformAboutCollabrateAlerts_InputMessage">
    <wsdl:part name="parameters" element="tns:InformAboutCollabrateAlerts" />
  </wsdl:message>
  <wsdl:message name="IStationsService_InformAboutCollabrateAlerts_OutputMessage">
    <wsdl:part name="parameters" element="tns:InformAboutCollabrateAlertsResponse" />
  </wsdl:message>
  <wsdl:message name="IStationsService_InformAboutRaisedAlertsAssigned_InputMessage">
    <wsdl:part name="parameters" element="tns:InformAboutRaisedAlertsAssigned" />
  </wsdl:message>
  <wsdl:message name="IStationsService_InformAboutRaisedAlertsAssigned_OutputMessage">
    <wsdl:part name="parameters" element="tns:InformAboutRaisedAlertsAssignedResponse" />
  </wsdl:message>
  <wsdl:message name="IStationsService_InformCapProfileUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:InformCapProfileUpdate" />
  </wsdl:message>
  <wsdl:message name="IStationsService_InformCapProfileUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:InformCapProfileUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IStationsService_InformAboutUserLoggedIn_InputMessage">
    <wsdl:part name="parameters" element="tns:InformAboutUserLoggedIn" />
  </wsdl:message>
  <wsdl:message name="IStationsService_InformAboutUserLoggedIn_OutputMessage">
    <wsdl:part name="parameters" element="tns:InformAboutUserLoggedInResponse" />
  </wsdl:message>
  <wsdl:message name="IStationsService_InformAboutUserLoggedOut_InputMessage">
    <wsdl:part name="parameters" element="tns:InformAboutUserLoggedOut" />
  </wsdl:message>
  <wsdl:message name="IStationsService_InformAboutUserLoggedOut_OutputMessage">
    <wsdl:part name="parameters" element="tns:InformAboutUserLoggedOutResponse" />
  </wsdl:message>
  <wsdl:message name="IStationsService_InformAboutAlertUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:InformAboutAlertUpdate" />
  </wsdl:message>
  <wsdl:message name="IStationsService_InformAboutAlertUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:InformAboutAlertUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IStationsService_InformAboutAlertsUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:InformAboutAlertsUpdate" />
  </wsdl:message>
  <wsdl:message name="IStationsService_InformAboutAlertsUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:InformAboutAlertsUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IStationsService_InformAboutAcknowledgedAlert_InputMessage">
    <wsdl:part name="parameters" element="tns:InformAboutAcknowledgedAlert" />
  </wsdl:message>
  <wsdl:message name="IStationsService_InformAboutAcknowledgedAlert_OutputMessage">
    <wsdl:part name="parameters" element="tns:InformAboutAcknowledgedAlertResponse" />
  </wsdl:message>
  <wsdl:message name="IStationsService_InformAboutCanceledAlert_InputMessage">
    <wsdl:part name="parameters" element="tns:InformAboutCanceledAlert" />
  </wsdl:message>
  <wsdl:message name="IStationsService_InformAboutCanceledAlert_OutputMessage">
    <wsdl:part name="parameters" element="tns:InformAboutCanceledAlertResponse" />
  </wsdl:message>
  <wsdl:message name="IStationsService_NotifyNewOwnerOfIncidentReport_InputMessage">
    <wsdl:part name="parameters" element="tns:NotifyNewOwnerOfIncidentReport" />
  </wsdl:message>
  <wsdl:message name="IStationsService_NotifyNewOwnerOfIncidentReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:NotifyNewOwnerOfIncidentReportResponse" />
  </wsdl:message>
  <wsdl:message name="IStationsService_InformUpdatedGroups_InputMessage">
    <wsdl:part name="parameters" element="tns:InformUpdatedGroups" />
  </wsdl:message>
  <wsdl:message name="IStationsService_InformUpdatedGroups_OutputMessage">
    <wsdl:part name="parameters" element="tns:InformUpdatedGroupsResponse" />
  </wsdl:message>
  <wsdl:message name="IStationsService_NotifyNewOwnerOfIncidentReportCollabrotion_InputMessage">
    <wsdl:part name="parameters" element="tns:NotifyNewOwnerOfIncidentReportCollabrotion" />
  </wsdl:message>
  <wsdl:message name="IStationsService_NotifyNewOwnerOfIncidentReportCollabrotion_OutputMessage">
    <wsdl:part name="parameters" element="tns:NotifyNewOwnerOfIncidentReportCollabrotionResponse" />
  </wsdl:message>
  <wsdl:message name="IStationsService_CheckStationsStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckStationsStatus" />
  </wsdl:message>
  <wsdl:message name="IStationsService_CheckStationsStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckStationsStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IStationsService_InformCamBookMarkadd_InputMessage">
    <wsdl:part name="parameters" element="tns:InformCamBookMarkadd" />
  </wsdl:message>
  <wsdl:message name="IStationsService_InformCamBookMarkadd_OutputMessage">
    <wsdl:part name="parameters" element="tns:InformCamBookMarkaddResponse" />
  </wsdl:message>
  <wsdl:message name="IStationsService_InformCurrentClimateAlert_InputMessage">
    <wsdl:part name="parameters" element="tns:InformCurrentClimateAlert" />
  </wsdl:message>
  <wsdl:message name="IStationsService_InformCurrentClimateAlert_OutputMessage">
    <wsdl:part name="parameters" element="tns:InformCurrentClimateAlertResponse" />
  </wsdl:message>
  <wsdl:message name="IStationsService_InformForecastClimateAlert_InputMessage">
    <wsdl:part name="parameters" element="tns:InformForecastClimateAlert" />
  </wsdl:message>
  <wsdl:message name="IStationsService_InformForecastClimateAlert_OutputMessage">
    <wsdl:part name="parameters" element="tns:InformForecastClimateAlertResponse" />
  </wsdl:message>
  <wsdl:message name="IStationsService_InformAccountSaved_InputMessage">
    <wsdl:part name="parameters" element="tns:InformAccountSaved" />
  </wsdl:message>
  <wsdl:message name="IStationsService_InformAccountSaved_OutputMessage">
    <wsdl:part name="parameters" element="tns:InformAccountSavedResponse" />
  </wsdl:message>
  <wsdl:message name="IStationsService_InformAboutSiteChanged_InputMessage">
    <wsdl:part name="parameters" element="tns:InformAboutSiteChanged" />
  </wsdl:message>
  <wsdl:message name="IStationsService_InformAboutSiteChanged_OutputMessage">
    <wsdl:part name="parameters" element="tns:InformAboutSiteChangedResponse" />
  </wsdl:message>
  <wsdl:message name="IStationsService_InformAboutSiteAdded_InputMessage">
    <wsdl:part name="parameters" element="tns:InformAboutSiteAdded" />
  </wsdl:message>
  <wsdl:message name="IStationsService_InformAboutSiteAdded_OutputMessage">
    <wsdl:part name="parameters" element="tns:InformAboutSiteAddedResponse" />
  </wsdl:message>
  <wsdl:message name="IStationsService_InformAboutSiteDeleted_InputMessage">
    <wsdl:part name="parameters" element="tns:InformAboutSiteDeleted" />
  </wsdl:message>
  <wsdl:message name="IStationsService_InformAboutSiteDeleted_OutputMessage">
    <wsdl:part name="parameters" element="tns:InformAboutSiteDeletedResponse" />
  </wsdl:message>
  <wsdl:message name="IStationsService_InformDeviceAdded_InputMessage">
    <wsdl:part name="parameters" element="tns:InformDeviceAdded" />
  </wsdl:message>
  <wsdl:message name="IStationsService_InformDeviceAdded_OutputMessage">
    <wsdl:part name="parameters" element="tns:InformDeviceAddedResponse" />
  </wsdl:message>
  <wsdl:message name="IStationsService_InformDeviceSaved_InputMessage">
    <wsdl:part name="parameters" element="tns:InformDeviceSaved" />
  </wsdl:message>
  <wsdl:message name="IStationsService_InformDeviceSaved_OutputMessage">
    <wsdl:part name="parameters" element="tns:InformDeviceSavedResponse" />
  </wsdl:message>
  <wsdl:message name="IStationsService_InformDeviceRemoved_InputMessage">
    <wsdl:part name="parameters" element="tns:InformDeviceRemoved" />
  </wsdl:message>
  <wsdl:message name="IStationsService_InformDeviceRemoved_OutputMessage">
    <wsdl:part name="parameters" element="tns:InformDeviceRemovedResponse" />
  </wsdl:message>
  <wsdl:message name="IStationsService_InformVideoAnalyticsStarted_InputMessage">
    <wsdl:part name="parameters" element="tns:InformVideoAnalyticsStarted" />
  </wsdl:message>
  <wsdl:message name="IStationsService_InformVideoAnalyticsStarted_OutputMessage">
    <wsdl:part name="parameters" element="tns:InformVideoAnalyticsStartedResponse" />
  </wsdl:message>
  <wsdl:message name="IStationsService_InformVideoAnalyticsStopped_InputMessage">
    <wsdl:part name="parameters" element="tns:InformVideoAnalyticsStopped" />
  </wsdl:message>
  <wsdl:message name="IStationsService_InformVideoAnalyticsStopped_OutputMessage">
    <wsdl:part name="parameters" element="tns:InformVideoAnalyticsStoppedResponse" />
  </wsdl:message>
  <wsdl:message name="IStationsService_PongBroker_InputMessage">
    <wsdl:part name="parameters" element="tns:PongBroker" />
  </wsdl:message>
  <wsdl:message name="IStationsService_PongBroker_OutputMessage">
    <wsdl:part name="parameters" element="tns:PongBrokerResponse" />
  </wsdl:message>
  <wsdl:message name="IStationsService_InformStationsAboutEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:InformStationsAboutEvent" />
  </wsdl:message>
  <wsdl:message name="IStationsService_InformStationsAboutEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:InformStationsAboutEventResponse" />
  </wsdl:message>
  <wsdl:message name="IStationsService_InformCloseAllAlert_InputMessage">
    <wsdl:part name="parameters" element="tns:InformCloseAllAlert" />
  </wsdl:message>
  <wsdl:message name="IStationsService_InformCloseAllAlert_OutputMessage">
    <wsdl:part name="parameters" element="tns:InformCloseAllAlertResponse" />
  </wsdl:message>
  <wsdl:portType name="IStationsService">
    <wsdl:operation name="Test">
      <wsdl:input wsaw:Action="http://tempuri.org/IStationsService/Test" message="tns:IStationsService_Test_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStationsService/TestResponse" message="tns:IStationsService_Test_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterStation">
      <wsdl:input wsaw:Action="http://tempuri.org/IStationsService/RegisterStation" message="tns:IStationsService_RegisterStation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStationsService/RegisterStationResponse" message="tns:IStationsService_RegisterStation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateRegistionInfoStation">
      <wsdl:input wsaw:Action="http://tempuri.org/IStationsService/UpdateRegistionInfoStation" message="tns:IStationsService_UpdateRegistionInfoStation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStationsService/UpdateRegistionInfoStationResponse" message="tns:IStationsService_UpdateRegistionInfoStation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActivateStation">
      <wsdl:input wsaw:Action="http://tempuri.org/IStationsService/ActivateStation" message="tns:IStationsService_ActivateStation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStationsService/ActivateStationResponse" message="tns:IStationsService_ActivateStation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeactivateStation">
      <wsdl:input wsaw:Action="http://tempuri.org/IStationsService/DeactivateStation" message="tns:IStationsService_DeactivateStation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStationsService/DeactivateStationResponse" message="tns:IStationsService_DeactivateStation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeactivateStationByIdentifier">
      <wsdl:input wsaw:Action="http://tempuri.org/IStationsService/DeactivateStationByIdentifier" message="tns:IStationsService_DeactivateStationByIdentifier_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStationsService/DeactivateStationByIdentifierResponse" message="tns:IStationsService_DeactivateStationByIdentifier_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SentAlertToStation">
      <wsdl:input wsaw:Action="http://tempuri.org/IStationsService/SentAlertToStation" message="tns:IStationsService_SentAlertToStation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStationsService/SentAlertToStationResponse" message="tns:IStationsService_SentAlertToStation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SentMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IStationsService/SentMessage" message="tns:IStationsService_SentMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStationsService/SentMessageResponse" message="tns:IStationsService_SentMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetMosaic">
      <wsdl:input wsaw:Action="http://tempuri.org/IStationsService/SetMosaic" message="tns:IStationsService_SetMosaic_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStationsService/SetMosaicResponse" message="tns:IStationsService_SetMosaic_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetStartStopSequence">
      <wsdl:input wsaw:Action="http://tempuri.org/IStationsService/SetStartStopSequence" message="tns:IStationsService_SetStartStopSequence_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStationsService/SetStartStopSequenceResponse" message="tns:IStationsService_SetStartStopSequence_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendMobileNotification">
      <wsdl:input wsaw:Action="http://tempuri.org/IStationsService/SendMobileNotification" message="tns:IStationsService_SendMobileNotification_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStationsService/SendMobileNotificationResponse" message="tns:IStationsService_SendMobileNotification_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStationsCollection">
      <wsdl:input wsaw:Action="http://tempuri.org/IStationsService/GetStationsCollection" message="tns:IStationsService_GetStationsCollection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStationsService/GetStationsCollectionResponse" message="tns:IStationsService_GetStationsCollection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InformAboutRaisedAlerts">
      <wsdl:input wsaw:Action="http://tempuri.org/IStationsService/InformAboutRaisedAlerts" message="tns:IStationsService_InformAboutRaisedAlerts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStationsService/InformAboutRaisedAlertsResponse" message="tns:IStationsService_InformAboutRaisedAlerts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InformAboutRaisedAlertsNew">
      <wsdl:input wsaw:Action="http://tempuri.org/IStationsService/InformAboutRaisedAlertsNew" message="tns:IStationsService_InformAboutRaisedAlertsNew_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStationsService/InformAboutRaisedAlertsNewResponse" message="tns:IStationsService_InformAboutRaisedAlertsNew_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InformAboutCollabrateAlerts">
      <wsdl:input wsaw:Action="http://tempuri.org/IStationsService/InformAboutCollabrateAlerts" message="tns:IStationsService_InformAboutCollabrateAlerts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStationsService/InformAboutCollabrateAlertsResponse" message="tns:IStationsService_InformAboutCollabrateAlerts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InformAboutRaisedAlertsAssigned">
      <wsdl:input wsaw:Action="http://tempuri.org/IStationsService/InformAboutRaisedAlertsAssigned" message="tns:IStationsService_InformAboutRaisedAlertsAssigned_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStationsService/InformAboutRaisedAlertsAssignedResponse" message="tns:IStationsService_InformAboutRaisedAlertsAssigned_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InformCapProfileUpdate">
      <wsdl:input wsaw:Action="http://tempuri.org/IStationsService/InformCapProfileUpdate" message="tns:IStationsService_InformCapProfileUpdate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStationsService/InformCapProfileUpdateResponse" message="tns:IStationsService_InformCapProfileUpdate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InformAboutUserLoggedIn">
      <wsdl:input wsaw:Action="http://tempuri.org/IStationsService/InformAboutUserLoggedIn" message="tns:IStationsService_InformAboutUserLoggedIn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStationsService/InformAboutUserLoggedInResponse" message="tns:IStationsService_InformAboutUserLoggedIn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InformAboutUserLoggedOut">
      <wsdl:input wsaw:Action="http://tempuri.org/IStationsService/InformAboutUserLoggedOut" message="tns:IStationsService_InformAboutUserLoggedOut_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStationsService/InformAboutUserLoggedOutResponse" message="tns:IStationsService_InformAboutUserLoggedOut_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InformAboutAlertUpdate">
      <wsdl:input wsaw:Action="http://tempuri.org/IStationsService/InformAboutAlertUpdate" message="tns:IStationsService_InformAboutAlertUpdate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStationsService/InformAboutAlertUpdateResponse" message="tns:IStationsService_InformAboutAlertUpdate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InformAboutAlertsUpdate">
      <wsdl:input wsaw:Action="http://tempuri.org/IStationsService/InformAboutAlertsUpdate" message="tns:IStationsService_InformAboutAlertsUpdate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStationsService/InformAboutAlertsUpdateResponse" message="tns:IStationsService_InformAboutAlertsUpdate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InformAboutAcknowledgedAlert">
      <wsdl:input wsaw:Action="http://tempuri.org/IStationsService/InformAboutAcknowledgedAlert" message="tns:IStationsService_InformAboutAcknowledgedAlert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStationsService/InformAboutAcknowledgedAlertResponse" message="tns:IStationsService_InformAboutAcknowledgedAlert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InformAboutCanceledAlert">
      <wsdl:input wsaw:Action="http://tempuri.org/IStationsService/InformAboutCanceledAlert" message="tns:IStationsService_InformAboutCanceledAlert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStationsService/InformAboutCanceledAlertResponse" message="tns:IStationsService_InformAboutCanceledAlert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NotifyNewOwnerOfIncidentReport">
      <wsdl:input wsaw:Action="http://tempuri.org/IStationsService/NotifyNewOwnerOfIncidentReport" message="tns:IStationsService_NotifyNewOwnerOfIncidentReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStationsService/NotifyNewOwnerOfIncidentReportResponse" message="tns:IStationsService_NotifyNewOwnerOfIncidentReport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InformUpdatedGroups">
      <wsdl:input wsaw:Action="http://tempuri.org/IStationsService/InformUpdatedGroups" message="tns:IStationsService_InformUpdatedGroups_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStationsService/InformUpdatedGroupsResponse" message="tns:IStationsService_InformUpdatedGroups_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NotifyNewOwnerOfIncidentReportCollabrotion">
      <wsdl:input wsaw:Action="http://tempuri.org/IStationsService/NotifyNewOwnerOfIncidentReportCollabrotion" message="tns:IStationsService_NotifyNewOwnerOfIncidentReportCollabrotion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStationsService/NotifyNewOwnerOfIncidentReportCollabrotionResponse" message="tns:IStationsService_NotifyNewOwnerOfIncidentReportCollabrotion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckStationsStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IStationsService/CheckStationsStatus" message="tns:IStationsService_CheckStationsStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStationsService/CheckStationsStatusResponse" message="tns:IStationsService_CheckStationsStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InformCamBookMarkadd">
      <wsdl:input wsaw:Action="http://tempuri.org/IStationsService/InformCamBookMarkadd" message="tns:IStationsService_InformCamBookMarkadd_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStationsService/InformCamBookMarkaddResponse" message="tns:IStationsService_InformCamBookMarkadd_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InformCurrentClimateAlert">
      <wsdl:input wsaw:Action="http://tempuri.org/IStationsService/InformCurrentClimateAlert" message="tns:IStationsService_InformCurrentClimateAlert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStationsService/InformCurrentClimateAlertResponse" message="tns:IStationsService_InformCurrentClimateAlert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InformForecastClimateAlert">
      <wsdl:input wsaw:Action="http://tempuri.org/IStationsService/InformForecastClimateAlert" message="tns:IStationsService_InformForecastClimateAlert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStationsService/InformForecastClimateAlertResponse" message="tns:IStationsService_InformForecastClimateAlert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InformAccountSaved">
      <wsdl:input wsaw:Action="http://tempuri.org/IStationsService/InformAccountSaved" message="tns:IStationsService_InformAccountSaved_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStationsService/InformAccountSavedResponse" message="tns:IStationsService_InformAccountSaved_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InformAboutSiteChanged">
      <wsdl:input wsaw:Action="http://tempuri.org/IStationsService/InformAboutSiteChanged" message="tns:IStationsService_InformAboutSiteChanged_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStationsService/InformAboutSiteChangedResponse" message="tns:IStationsService_InformAboutSiteChanged_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InformAboutSiteAdded">
      <wsdl:input wsaw:Action="http://tempuri.org/IStationsService/InformAboutSiteAdded" message="tns:IStationsService_InformAboutSiteAdded_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStationsService/InformAboutSiteAddedResponse" message="tns:IStationsService_InformAboutSiteAdded_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InformAboutSiteDeleted">
      <wsdl:input wsaw:Action="http://tempuri.org/IStationsService/InformAboutSiteDeleted" message="tns:IStationsService_InformAboutSiteDeleted_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStationsService/InformAboutSiteDeletedResponse" message="tns:IStationsService_InformAboutSiteDeleted_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InformDeviceAdded">
      <wsdl:input wsaw:Action="http://tempuri.org/IStationsService/InformDeviceAdded" message="tns:IStationsService_InformDeviceAdded_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStationsService/InformDeviceAddedResponse" message="tns:IStationsService_InformDeviceAdded_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InformDeviceSaved">
      <wsdl:input wsaw:Action="http://tempuri.org/IStationsService/InformDeviceSaved" message="tns:IStationsService_InformDeviceSaved_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStationsService/InformDeviceSavedResponse" message="tns:IStationsService_InformDeviceSaved_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InformDeviceRemoved">
      <wsdl:input wsaw:Action="http://tempuri.org/IStationsService/InformDeviceRemoved" message="tns:IStationsService_InformDeviceRemoved_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStationsService/InformDeviceRemovedResponse" message="tns:IStationsService_InformDeviceRemoved_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InformVideoAnalyticsStarted">
      <wsdl:input wsaw:Action="http://tempuri.org/IStationsService/InformVideoAnalyticsStarted" message="tns:IStationsService_InformVideoAnalyticsStarted_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStationsService/InformVideoAnalyticsStartedResponse" message="tns:IStationsService_InformVideoAnalyticsStarted_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InformVideoAnalyticsStopped">
      <wsdl:input wsaw:Action="http://tempuri.org/IStationsService/InformVideoAnalyticsStopped" message="tns:IStationsService_InformVideoAnalyticsStopped_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStationsService/InformVideoAnalyticsStoppedResponse" message="tns:IStationsService_InformVideoAnalyticsStopped_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PongBroker">
      <wsdl:input wsaw:Action="http://tempuri.org/IStationsService/PongBroker" message="tns:IStationsService_PongBroker_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStationsService/PongBrokerResponse" message="tns:IStationsService_PongBroker_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InformStationsAboutEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/IStationsService/InformStationsAboutEvent" message="tns:IStationsService_InformStationsAboutEvent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStationsService/InformStationsAboutEventResponse" message="tns:IStationsService_InformStationsAboutEvent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InformCloseAllAlert">
      <wsdl:input wsaw:Action="http://tempuri.org/IStationsService/InformCloseAllAlert" message="tns:IStationsService_InformCloseAllAlert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStationsService/InformCloseAllAlertResponse" message="tns:IStationsService_InformCloseAllAlert_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IStationsService" type="tns:IStationsService">
    <wsp:PolicyReference URI="#WSHttpBinding_IStationsService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Test">
      <soap12:operation soapAction="http://tempuri.org/IStationsService/Test" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterStation">
      <soap12:operation soapAction="http://tempuri.org/IStationsService/RegisterStation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRegistionInfoStation">
      <soap12:operation soapAction="http://tempuri.org/IStationsService/UpdateRegistionInfoStation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActivateStation">
      <soap12:operation soapAction="http://tempuri.org/IStationsService/ActivateStation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeactivateStation">
      <soap12:operation soapAction="http://tempuri.org/IStationsService/DeactivateStation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeactivateStationByIdentifier">
      <soap12:operation soapAction="http://tempuri.org/IStationsService/DeactivateStationByIdentifier" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SentAlertToStation">
      <soap12:operation soapAction="http://tempuri.org/IStationsService/SentAlertToStation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SentMessage">
      <soap12:operation soapAction="http://tempuri.org/IStationsService/SentMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetMosaic">
      <soap12:operation soapAction="http://tempuri.org/IStationsService/SetMosaic" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetStartStopSequence">
      <soap12:operation soapAction="http://tempuri.org/IStationsService/SetStartStopSequence" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMobileNotification">
      <soap12:operation soapAction="http://tempuri.org/IStationsService/SendMobileNotification" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStationsCollection">
      <soap12:operation soapAction="http://tempuri.org/IStationsService/GetStationsCollection" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InformAboutRaisedAlerts">
      <soap12:operation soapAction="http://tempuri.org/IStationsService/InformAboutRaisedAlerts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InformAboutRaisedAlertsNew">
      <soap12:operation soapAction="http://tempuri.org/IStationsService/InformAboutRaisedAlertsNew" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InformAboutCollabrateAlerts">
      <soap12:operation soapAction="http://tempuri.org/IStationsService/InformAboutCollabrateAlerts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InformAboutRaisedAlertsAssigned">
      <soap12:operation soapAction="http://tempuri.org/IStationsService/InformAboutRaisedAlertsAssigned" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InformCapProfileUpdate">
      <soap12:operation soapAction="http://tempuri.org/IStationsService/InformCapProfileUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InformAboutUserLoggedIn">
      <soap12:operation soapAction="http://tempuri.org/IStationsService/InformAboutUserLoggedIn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InformAboutUserLoggedOut">
      <soap12:operation soapAction="http://tempuri.org/IStationsService/InformAboutUserLoggedOut" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InformAboutAlertUpdate">
      <soap12:operation soapAction="http://tempuri.org/IStationsService/InformAboutAlertUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InformAboutAlertsUpdate">
      <soap12:operation soapAction="http://tempuri.org/IStationsService/InformAboutAlertsUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InformAboutAcknowledgedAlert">
      <soap12:operation soapAction="http://tempuri.org/IStationsService/InformAboutAcknowledgedAlert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InformAboutCanceledAlert">
      <soap12:operation soapAction="http://tempuri.org/IStationsService/InformAboutCanceledAlert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotifyNewOwnerOfIncidentReport">
      <soap12:operation soapAction="http://tempuri.org/IStationsService/NotifyNewOwnerOfIncidentReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InformUpdatedGroups">
      <soap12:operation soapAction="http://tempuri.org/IStationsService/InformUpdatedGroups" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotifyNewOwnerOfIncidentReportCollabrotion">
      <soap12:operation soapAction="http://tempuri.org/IStationsService/NotifyNewOwnerOfIncidentReportCollabrotion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckStationsStatus">
      <soap12:operation soapAction="http://tempuri.org/IStationsService/CheckStationsStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InformCamBookMarkadd">
      <soap12:operation soapAction="http://tempuri.org/IStationsService/InformCamBookMarkadd" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InformCurrentClimateAlert">
      <soap12:operation soapAction="http://tempuri.org/IStationsService/InformCurrentClimateAlert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InformForecastClimateAlert">
      <soap12:operation soapAction="http://tempuri.org/IStationsService/InformForecastClimateAlert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InformAccountSaved">
      <soap12:operation soapAction="http://tempuri.org/IStationsService/InformAccountSaved" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InformAboutSiteChanged">
      <soap12:operation soapAction="http://tempuri.org/IStationsService/InformAboutSiteChanged" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InformAboutSiteAdded">
      <soap12:operation soapAction="http://tempuri.org/IStationsService/InformAboutSiteAdded" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InformAboutSiteDeleted">
      <soap12:operation soapAction="http://tempuri.org/IStationsService/InformAboutSiteDeleted" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InformDeviceAdded">
      <soap12:operation soapAction="http://tempuri.org/IStationsService/InformDeviceAdded" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InformDeviceSaved">
      <soap12:operation soapAction="http://tempuri.org/IStationsService/InformDeviceSaved" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InformDeviceRemoved">
      <soap12:operation soapAction="http://tempuri.org/IStationsService/InformDeviceRemoved" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InformVideoAnalyticsStarted">
      <soap12:operation soapAction="http://tempuri.org/IStationsService/InformVideoAnalyticsStarted" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InformVideoAnalyticsStopped">
      <soap12:operation soapAction="http://tempuri.org/IStationsService/InformVideoAnalyticsStopped" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PongBroker">
      <soap12:operation soapAction="http://tempuri.org/IStationsService/PongBroker" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InformStationsAboutEvent">
      <soap12:operation soapAction="http://tempuri.org/IStationsService/InformStationsAboutEvent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InformCloseAllAlert">
      <soap12:operation soapAction="http://tempuri.org/IStationsService/InformCloseAllAlert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StationsService">
    <wsdl:port name="WSHttpBinding_IStationsService" binding="tns:WSHttpBinding_IStationsService">
      <soap12:address location="https://localhost:6530/soap/StationsService" />
      <wsa10:EndpointReference>
        <wsa10:Address>https://localhost:6530/soap/StationsService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>