BrokerWatchDogService/AMS.BrokerTests/Service References/SitesWcfService/SitesService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4530/SOAP/SitesService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AMS.Broker.Contracts.DTO" />
  <xs:element name="GetSiteType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="siteTypeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSiteTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AMS.Broker.Contracts.DTO" minOccurs="0" name="GetSiteTypeResult" nillable="true" type="q1:SiteTypeDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSiteTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSiteTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AMS.Broker.Contracts.DTO" minOccurs="0" name="GetSiteTypesResult" nillable="true" type="q2:ArrayOfSiteTypeDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSiteType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AMS.Broker.Contracts.DTO" minOccurs="0" name="siteTypeToAdd" nillable="true" type="q3:SiteTypeDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSiteTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AMS.Broker.Contracts.DTO" minOccurs="0" name="AddSiteTypeResult" nillable="true" type="q4:SiteTypeDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSiteType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/AMS.Broker.Contracts.DTO" minOccurs="0" name="siteTypeToUpdate" nillable="true" type="q5:SiteTypeDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSiteTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/AMS.Broker.Contracts.DTO" minOccurs="0" name="UpdateSiteTypeResult" nillable="true" type="q6:SiteTypeDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSiteType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="siteTypeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSiteTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteSiteTypeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBBoxPoint">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bboxPointId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBBoxPointResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/AMS.Broker.Contracts.DTO" minOccurs="0" name="GetBBoxPointResult" nillable="true" type="q7:BBoxPointDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBBoxPointsBySite">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="siteId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBBoxPointsBySiteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/AMS.Broker.Contracts.DTO" minOccurs="0" name="GetBBoxPointsBySiteResult" nillable="true" type="q8:ArrayOfBBoxPointDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBBoxPoint">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/AMS.Broker.Contracts.DTO" minOccurs="0" name="bboxPointToAdd" nillable="true" type="q9:BBoxPointDto" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/AMS.Broker.Contracts.DTO" minOccurs="0" name="site" nillable="true" type="q10:SiteDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBBoxPointResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/AMS.Broker.Contracts.DTO" minOccurs="0" name="AddBBoxPointResult" nillable="true" type="q11:BBoxPointDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBBoxPoint">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/AMS.Broker.Contracts.DTO" minOccurs="0" name="bboxPointToUpdate" nillable="true" type="q12:BBoxPointDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBBoxPointResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/AMS.Broker.Contracts.DTO" minOccurs="0" name="UpdateBBoxPointResult" nillable="true" type="q13:BBoxPointDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBBoxPoint">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bboxPointId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBBoxPointResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteBBoxPointResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSite">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="siteId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSiteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/AMS.Broker.Contracts.DTO" minOccurs="0" name="GetSiteResult" nillable="true" type="q14:SiteDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSites">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSitesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/AMS.Broker.Contracts.DTO" minOccurs="0" name="GetSitesResult" nillable="true" type="q15:ArrayOfSiteDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSiteForAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSiteForAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/AMS.Broker.Contracts.DTO" minOccurs="0" name="GetSiteForAccountResult" nillable="true" type="q16:ArrayOfSiteDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChildSites">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="parentSiteId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChildSitesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/AMS.Broker.Contracts.DTO" minOccurs="0" name="GetChildSitesResult" nillable="true" type="q17:ArrayOfSiteDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSite">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/AMS.Broker.Contracts.DTO" minOccurs="0" name="siteToAdd" nillable="true" type="q18:SiteDto" />
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/AMS.Broker.Contracts.DTO" minOccurs="0" name="siteType" nillable="true" type="q19:SiteTypeDto" />
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/AMS.Broker.Contracts.DTO" minOccurs="0" name="parentSite" nillable="true" type="q20:SiteDto" />
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/AMS.Broker.Contracts.DTO" minOccurs="0" name="address" nillable="true" type="q21:AddressDto" />
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/AMS.Broker.Contracts.DTO" minOccurs="0" name="account" nillable="true" type="q22:AccountDto" />
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/AMS.Broker.Contracts.DTO" minOccurs="0" name="bboxPoints" nillable="true" type="q23:ArrayOfBBoxPointDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSiteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/AMS.Broker.Contracts.DTO" minOccurs="0" name="AddSiteResult" nillable="true" type="q24:SiteDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSite">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/AMS.Broker.Contracts.DTO" minOccurs="0" name="siteToUpdate" nillable="true" type="q25:SiteDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSiteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/AMS.Broker.Contracts.DTO" minOccurs="0" name="UpdateSiteResult" nillable="true" type="q26:SiteDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSite">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="siteId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSiteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteSiteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetSiteBBox">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/AMS.Broker.Contracts.DTO" minOccurs="0" name="site" nillable="true" type="q27:SiteDto" />
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/AMS.Broker.Contracts.DTO" minOccurs="0" name="bboxPoints" nillable="true" type="q28:ArrayOfBBoxPointDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetSiteBBoxResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/AMS.Broker.Contracts.DTO" minOccurs="0" name="SetSiteBBoxResult" nillable="true" type="q29:SiteDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>