BrokerWatchDogService/AMS.Broker/Service References/DashBoardCallBackCommServiceRef/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="RaiseCurrentClimateAlert">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CurrentClimateData" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RaiseCurrentClimateAlertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RaiseCurrentClimateAlertResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RaiseForecastClimateAlert">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ForecastClimateData" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RaiseForecastClimateAlertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RaiseForecastClimateAlertResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>