32bitServices/BrokerIntegrationService/AMS.Broker.StreamInsight/Service References/AMSBrokerWCFAdapter/StreamInsightService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.logica.com/RealTimeDataManagement/DataContract" elementFormDefault="qualified" targetNamespace="http://www.logica.com/RealTimeDataManagement/DataContract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.0.52:4530/SOAP/StreamInsightService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Logica.RealTimeDataMgmt.WcfContracts" />
  <xs:import schemaLocation="http://192.168.0.52:4530/SOAP/StreamInsightService?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:import schemaLocation="http://192.168.0.52:4530/SOAP/StreamInsightService?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="WcfEventData">
    <xs:sequence>
      <xs:element minOccurs="0" name="CtiEvent" nillable="true" type="tns:CtiEvent" />
      <xs:element minOccurs="0" name="WcfEvents" nillable="true" type="tns:ArrayOfWcfEvent" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WcfEventData" nillable="true" type="tns:WcfEventData" />
  <xs:complexType name="CtiEvent">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Logica.RealTimeDataMgmt.WcfContracts" base="q1:WcfBaseEvent">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CtiEvent" nillable="true" type="tns:CtiEvent" />
  <xs:complexType name="ArrayOfWcfEvent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WcfEvent" nillable="true" type="tns:WcfEvent" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWcfEvent" nillable="true" type="tns:ArrayOfWcfEvent" />
  <xs:complexType name="WcfEvent">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/Logica.RealTimeDataMgmt.WcfContracts" base="q2:WcfBaseEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="EdgeType" type="q2:WcfEdgeType" />
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="EndTime" type="q3:DateTimeOffset" />
          <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Payload" nillable="true" type="q4:ArrayOfKeyValueOfstringanyType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="WcfEvent" nillable="true" type="tns:WcfEvent" />
</xs:schema>