32bitServices/BrokerAutherizationService/AMS.Broker/Service References/IncidentReportGetOperationServiceWebRef/IncidentReportGetOperationServiceWeb2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://localhost:6530/IncidentReportGetOperationServiceWeb?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AMS.Broker.Contracts.DTO" />
  <xs:element name="GetIncidentReportsByOwnerWeb">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="authToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startCreateDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="endCreateDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ownerUserName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIncidentReportsByOwnerWebResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AMS.Broker.Contracts.DTO" minOccurs="0" name="GetIncidentReportsByOwnerWebResult" nillable="true" type="q1:ArrayOfIncidentReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIncidentReportByIDWeb">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="authToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IncidentReportId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIncidentReportByIDWebResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AMS.Broker.Contracts.DTO" minOccurs="0" name="GetIncidentReportByIDWebResult" nillable="true" type="q2:ArrayOfIncidentReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>