32bitServices/BrokerIntegrationService/AMS.BrokerTests/Service References/AccountWcfService/AccountsService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/AMS.Broker.Contracts.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AMS.Broker.Contracts.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4530/SOAP/AccountsService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfAccountDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AccountDto" nillable="true" type="tns:AccountDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAccountDto" nillable="true" type="tns:ArrayOfAccountDto" />
  <xs:complexType name="AccountDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountId" type="xs:int" />
      <xs:element minOccurs="0" name="AccountInvoice" nillable="true" type="tns:ArrayOfAccountInvoiceDto" />
      <xs:element minOccurs="0" name="AccountNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccountTypeId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Address" nillable="true" type="tns:ArrayOfAddressDto" />
      <xs:element minOccurs="0" name="ChildAccounts" nillable="true" type="tns:ArrayOfAccountDto" />
      <xs:element minOccurs="0" name="Contact" nillable="true" type="tns:ContactDto" />
      <xs:element minOccurs="0" name="Contacts" nillable="true" type="tns:ArrayOfContactDto" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CreatedOn" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DeletionStateCode" type="xs:int" />
      <xs:element minOccurs="0" name="DeliveryMethodId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModifiedBy" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ModifiedOn" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParentAccountId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PrimaryContactId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ServicePackageId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TimeZoneId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="WebSiteURL" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="AccountDto" nillable="true" type="tns:AccountDto" />
  <xs:complexType name="ArrayOfAccountInvoiceDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AccountInvoiceDto" nillable="true" type="tns:AccountInvoiceDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAccountInvoiceDto" nillable="true" type="tns:ArrayOfAccountInvoiceDto" />
  <xs:complexType name="AccountInvoiceDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Account" nillable="true" type="tns:AccountDto" />
      <xs:element minOccurs="0" name="AccountId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="BillTo_City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillTo_Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillTo_Fax" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillTo_Line1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillTo_Line2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillTo_Line3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillTo_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillTo_PostalCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillTo_StateOrProvince" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillTo_Telephone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CreatedOn" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DeletionStateCode" type="xs:int" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DiscountAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="DiscountPercentage" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="DueDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FreightAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="InvoiceId" type="xs:int" />
      <xs:element minOccurs="0" name="InvoiceNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModifiedBy" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ModifiedOn" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PriorityCode" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="StateCode" type="xs:int" />
      <xs:element minOccurs="0" name="TimeZoneId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TotalAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalAmountLessFreight" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalDiscountAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalLineItemAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalLineItemDiscountAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalTax" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccountInvoiceDto" nillable="true" type="tns:AccountInvoiceDto" />
  <xs:complexType name="AddressDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="AddressId" type="xs:int" />
      <xs:element minOccurs="0" name="AddressNumber" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="AddressTypeCode" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="County" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CreatedOn" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DeletionStateCode" type="xs:int" />
      <xs:element minOccurs="0" name="Fax" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Latitude" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Line1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Line2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Line3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Longitude" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="ModifiedBy" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ModifiedOn" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PersonId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PostOfficeBox" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostalCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShippingMethodCode" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SiteId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="StateOrProvince" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telephone1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telephone2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telephone3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UPSZone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UTCOffset" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="VersionNumber" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="AddressDto" nillable="true" type="tns:AddressDto" />
  <xs:complexType name="PersonDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="tns:ArrayOfAddressDto" />
      <xs:element minOccurs="0" name="AgeRange" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="BirthDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Contacts" nillable="true" type="tns:ArrayOfContactDto" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CreatedOn" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EducationCode" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Ethnicity" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ExternalIdentifier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GenderCode" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MiddleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModifiedBy" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ModifiedOn" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NickName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PersonId" type="xs:int" />
      <xs:element minOccurs="0" name="Portrait" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Suffix" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonDto" nillable="true" type="tns:PersonDto" />
  <xs:complexType name="ArrayOfAddressDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AddressDto" nillable="true" type="tns:AddressDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAddressDto" nillable="true" type="tns:ArrayOfAddressDto" />
  <xs:complexType name="ArrayOfContactDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ContactDto" nillable="true" type="tns:ContactDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContactDto" nillable="true" type="tns:ArrayOfContactDto" />
  <xs:complexType name="ContactDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ContactId" type="xs:int" />
      <xs:element minOccurs="0" name="ContactTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="CreatedOn" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DeletionStateCode" type="xs:int" />
      <xs:element minOccurs="0" name="ModifiedBy" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="ModifiedOn" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PersonId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContactDto" nillable="true" type="tns:ContactDto" />
  <xs:complexType name="DeliveryMethodDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Account" nillable="true" type="tns:ArrayOfAccountDto" />
      <xs:element minOccurs="0" name="AccountType" nillable="true" type="tns:ArrayOfAccountTypeDto" />
      <xs:element minOccurs="0" name="DeliveryMethodId" type="xs:int" />
      <xs:element minOccurs="0" name="DeliveryMethodName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Frequency" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeliveryMethodDto" nillable="true" type="tns:DeliveryMethodDto" />
  <xs:complexType name="ArrayOfAccountTypeDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AccountTypeDto" nillable="true" type="tns:AccountTypeDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAccountTypeDto" nillable="true" type="tns:ArrayOfAccountTypeDto" />
  <xs:complexType name="AccountTypeDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountTypeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccoutTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="DailyOpenCloseReports" type="xs:boolean" />
      <xs:element minOccurs="0" name="OpenCloseMonitoring" type="xs:boolean" />
      <xs:element minOccurs="0" name="ReportDeliveryMethodId" type="xs:int" />
      <xs:element minOccurs="0" name="SMS" type="xs:boolean" />
      <xs:element minOccurs="0" name="SiteEventReport" type="xs:boolean" />
      <xs:element minOccurs="0" name="WeeklyOpenCloseReporting" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccountTypeDto" nillable="true" type="tns:AccountTypeDto" />
  <xs:complexType name="ServicePackageDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Account" nillable="true" type="tns:ArrayOfAccountDto" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PackagePrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="ServicePackageId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServicePackageDto" nillable="true" type="tns:ServicePackageDto" />
  <xs:complexType name="ArrayOfPersonDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PersonDto" nillable="true" type="tns:PersonDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPersonDto" nillable="true" type="tns:ArrayOfPersonDto" />
</xs:schema>